/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";

body{
  background: #fef6df;
  color: #707070;
  &.home{
    background: url('../img/home.jpg')no-repeat center center fixed;
    @include background-size(cover);
    .container.app{
      padding: 0;
      margin: 0;
      #opening-slider{
        position: relative;
        .slider{
          img{
            width: 100%;
          }
        }
        .btn-soyjoy{
          width: 80%;
          position: absolute;
          bottom: 2%;
          left: 10%;
        }
      }
    }
  }
  &.landing{
    overflow: hidden;
    .container{
      padding: 0px;
      margin: 0px;
    }
  }
  &.login-page{
    background: #e61d2b;
    color: #FFFF;
    text-align: center;
    .header-image{
      margin-top: 10%;
      margin-bottom: 7%;
    }
    h2, h3{
      color: #FFF;
    }
    a{
      display: inline-block;
      color: #FFF;
      border: 1px solid #FFF;
      font-size: 16px;
      padding: 7px 20px;
      @include border-radius(40px);
    }
  }
  &.register-page{
    text-align: center;
    .header-image{
      margin: 5% 0;
    }
    .register{
      input.ng-invalid.ng-touched {
        background-color: #e61d2b;
        color: #FFF;
      }

      input.ng-valid.ng-touched {
        background-color: #FFF;
      }
    }
    .border-radius{
      border: 1px solid #d7d7d7;
    }
  }
}

.btn-soyjoy{
  width: 100%;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  padding: 10px;
  border: none !important;
  @extend .border-radius;
  &.yellow{
    background: #ebb010;
  }
  &.red{
    background: #e61d2b;
  }
}
.navbar-header{
  background: url('../img/logo-nav.png')no-repeat 15px center;
}
.navbar-inverse{
  background: #e61e2b;
  border: none;
  .navbar-toggle{
    border-color: #FFF;
    @include border-radius(999px);
    .icon-bar{
      width: 14px;
    }
    &:hover, &:focus{
      background: none;
    }
  }
  .navbar-nav{
    margin: 0px -15px;
    li{
      border-bottom: 1px solid #e0d3ae;
      background: #fef6df;
      a{
        color: #707070;
        text-transform: uppercase;
        font-weight: bold;
        &:hover, &:focus{
          color: #707070;
        }
      }
    }
  }
}

#sliders-home{
  .caption{
    font-family: 'Futura Md BT';
    line-height: 1.2em;
    background: #e61d2b;
    position: fixed;
    bottom: 0;
    color: #FFF;
    height: 100px;
    width: 100%;
    padding: 20px;
    padding-bottom: 100px;
    letter-spacing: 1px;
    font-size: 12px;
    text-transform: uppercase;
    .btn-soyjoy{
      width: 60%;
      font-size: 12px;
      padding: 5px;
      display: table;
      margin: 0 auto;
      height: auto;
      margin-top: 20px;
    }
  }
  .slider-image{
    width: 100%;
  }
  .carousel-control{
    display: none;
  }
  .carousel-indicators{
    position: fixed;
    margin: 0;
    width: 100%;
    left: 0;
    bottom: 104px;
    li{
      margin-right: 5px;
      width: 20px;
      height: 20px;
      background: #FFF;
      border: 2px solid #e61d2b;
      @include border-radius(999px);
      &.active{
        background: #e61d2b;
      }
    }
  }
}

#home-page{
  .slider-image{
    width: 100%;
  }
  .carousel-indicators{
    display: none;
  }
  .carousel-control{
    display: none;
  }
}

.article-row{
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 5px 10px;
  border-top: 1px dashed #beb28a;
  .time{
    margin-bottom: 3px;
    display: block;
  }
  .article-title{
    color: #ecb011;
    display: block;
    font-weight: bold;
  }
  .col-xs-4{
    padding: 0;
  }
  .image{
    width: 100%;
  }
}

.article-single{
  padding-top: 10px;
  .content-body{
    margin-bottom: 10px;
  }
  .title{
    display: block;
    font-size: 14px;
    color: #edaf10;
  }
  .time{
    display: block;
    margin-bottom: 15px;
  }
  .image-header{
    width: 100%;
    margin-bottom: 15px;
  }
}

.discussion-wrapper{
  padding-bottom: 40px;
  .meta{
    margin-bottom: 10px;
    .name{
      color: #7cb824;
    }
  }
  .title{
    color: #f48ca6;
    font-weight: bold;
  }
  .discussion-row{
    padding-top: 10px;
    padding-bottom: 10px;
    &.reply{
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 5px;
      .meta{
        margin-bottom: 0px;
      }
    }
    &.comment{
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 5px;
      .meta{
        margin-bottom: 5px;
        .name{
          color: #e9b52b;
        }
      }
    }
    &.star{
      background: #f48ca7;
      color: #FFF;
      padding-top: 15px;
      padding-bottom: 15px;
      @include border-radius(10px);
      .name{
        color: #FFF;
      }
    }
  }
  .action{
    display: block;
    margin-top: 15px;
    padding-bottom: 5px;
    position: relative;
    border-bottom: 1px dashed #beb18b;
    .button{
      padding: 2px 10px;
      display: inline-block;
      border: 1px solid #959595;
      font-size: 12px;
      @include border-radius(20px);
      margin-right: 5px;
      a{
        color: #707070
      }
    }
  }
}

.list-answers{
  clear: both;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 90px;
  li{
    border: none;
    border-top: 1px solid #FFF;
    &:first-child, &:last-child{
      @include border-radius(0px);
    }
    &.answered{
      background-color: #e61e2b;
    }
    background-color: #959595;
    a{
      color: #FFF;
    }
    img{
      width: 10%;
      display: inline-block;
    }
  }
}

.fixed-bottom{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  background: #ebebeb;
  .button-red{
    width: 100%;
    display: table;
    margin: 0 auto;
    background: #e61e2b;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    @include border-radius(15px);
  }
  .form-submit-answer{
    text-align: center;
    .button-red{
      margin-top: 5px;
      width: 70%;
    }
    .close{
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 12px;
      line-height: 1em;
      a{
        color: #333;
      }
    }
  }
}

.form-submit-answer{
  display: none;
}

body.ask-page{
  .head-row{
    margin-bottom: 25px;
  }
  .head-image{
    text-align: center;
    margin-bottom: 15px;
  }
  .doctor-description{
    margin-bottom: 15px;
    .doctor-name{
      margin-top: 5px;
      margin-bottom: 3px;
      font-size: 18px;
      color: #e61e2b;
    }
    .doctor-specialize{
      margin-top: 5px;
      font-size: 14px;
      color: #e61e2b;
    }
  }

  .lihat-jadwal{
    margin-top: 30px;
    background: #ebb010;
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 12px;
    display: inline-block;
    @extend .border-radius;
  }

  .specialize{
    color: #e91b2f;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    width: 70%;
    float: left;
  }
  .doctor-photo{
    max-width: 100%;
  }
  .back{
    margin-left: 8px;
    float: right;
    color: #9b9295;
    border: 1px solid #9b9295;
    @include border-radius(999px);
    font-size: 14px;
    width: 23px;
    height: 23px;
    text-align: center;
  }
}

#chat-wrap{
  padding-bottom: 40px;
  li{
    list-style: none;
    color: #FFF;
    font-size: 11px;
    margin-bottom: 10px;
    .chat-file{
      width: 30%;
    }
    &.user{
      img.avatar{
        @include border-radius(100%);
      }
      .msg{
        background: #7ab827;
        padding: 7px;
        letter-spacing: 1px;
        display: inline-block;
        @include border-radius(15px);
      }
    }
  }
}

#menu-wheel{
  position: fixed;
  bottom: 0;
  width: 300px;
  height: 300px;
  left: 50%;
  margin-left: -150px;
//  margin-bottom: -150px;
  background: url('../img/circle-nav.png')no-repeat;
  .menu{
    position: absolute;
    left: 50%;
    height: 150px;
    padding-bottom: 85px;
  }
}

.pages.alfa{
  .carousel-indicators{
    display: none;
  }
  .carousel-control{
    background-image: none;
  }
  .content-product{
    text-align: left;
  }
}

.pager a{
  color: #333;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
  border: none;
  @include box-shadow(none);
}

.border-radius{
  border: none;
  height: 40px;
  @include border-radius(20px);
}

.circle-menu{
  width: 40px;
  height: 50px;
  margin: 0 auto;
  display: table;
  position: relative;
  .inner-circle{
    display: none;
    position: absolute;
    width: 250px;
    height: 250px;
    background: url('../img/circle-bg-nav.png')no-repeat;
    top: -70px;
    left: -102px;
  }
  .tap-start{
    position: absolute;
    top: -29px;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    width: 100px;
    left: -26px;
    font-size: 17px;
  }
  .circleMenu-open{
    .menu-caption{
      position: absolute;
      width: 75px;
      color: #e22a26;
      font-size: 9px;  
      width: 50px;  
      line-height: 1.2em;
      &.left-caption{
        left: -55px;
        top: 0px;
      }
      &.right-caption{
        right: -55px;
        top: 0px;
      }
    }
  }
  .circleMenu-closed{
    .menu-caption{
      display: none;
    }
  }
  
}

.result-db{
  display: none;
}
#result-diabetes{
  background: #ec8ba8;
  padding: 10px 0;
  color: #FFF;
  @include border-radius(20px);
  .title{
    display: block;
    padding-bottom: 5px;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #FFF;
  }
  .content{
    padding: 20px;
    text-align: center;
    font-size: 12px;
    .diabetes-result{
      font-weight: bold;
      font-size: 20px;
    }
  }
}

.loading{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.8);
  z-index: 99;
  .wrap{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
  }
}

.register-error{
  text-align: left;
  font-size: 11px;
  color: red;
}