/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
body {
  background: #fef6df;
  color: #707070;
}
/* line 11, ../sass/screen.scss */
body.home {
  background: #e61d2b;
}
/* line 13, ../sass/screen.scss */
body.home .container.app {
  padding: 0;
  margin: 0;
}
/* line 16, ../sass/screen.scss */
body.home .container.app #opening-slider {
  position: relative;
}
/* line 19, ../sass/screen.scss */
body.home .container.app #opening-slider .slider img {
  width: 100%;
}
/* line 23, ../sass/screen.scss */
body.home .container.app #opening-slider .btn-soyjoy {
  width: 80%;
  position: absolute;
  bottom: 2%;
  left: 10%;
}
/* line 32, ../sass/screen.scss */
body.login-page {
  background: #e61d2b;
  color: #FFFF;
  text-align: center;
}
/* line 36, ../sass/screen.scss */
body.login-page .header-image {
  margin-top: 10%;
  margin-bottom: 7%;
}
/* line 40, ../sass/screen.scss */
body.login-page h2, body.login-page h3 {
  color: #FFF;
}
/* line 43, ../sass/screen.scss */
body.login-page a {
  display: inline-block;
  color: #FFF;
  border-bottom: 1px solid #FFF;
  font-size: 16px;
}
/* line 50, ../sass/screen.scss */
body.register-page {
  text-align: center;
}
/* line 52, ../sass/screen.scss */
body.register-page .header-image {
  margin: 5% 0;
}
/* line 55, ../sass/screen.scss */
body.register-page .border-radius, body.register-page .btn-soyjoy, body.register-page body.ask-page .lihat-jadwal, body.ask-page body.register-page .lihat-jadwal {
  border: 1px solid #d7d7d7;
}

/* line 61, ../sass/screen.scss */
.btn-soyjoy {
  width: 100%;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  padding: 10px;
  border: none !important;
}
/* line 71, ../sass/screen.scss */
.btn-soyjoy.yellow {
  background: #ebb010;
}
/* line 74, ../sass/screen.scss */
.btn-soyjoy.red {
  background: #e61d2b;
}

/* line 78, ../sass/screen.scss */
.navbar-header {
  background: url("../img/logo-nav.png") no-repeat 15px center;
}

/* line 81, ../sass/screen.scss */
.navbar-inverse {
  background: #e61e2b;
  border: none;
}
/* line 84, ../sass/screen.scss */
.navbar-inverse .navbar-toggle {
  border-color: #FFF;
  -moz-border-radius: 999px;
  -webkit-border-radius: 999px;
  border-radius: 999px;
}
/* line 87, ../sass/screen.scss */
.navbar-inverse .navbar-toggle .icon-bar {
  width: 14px;
}
/* line 90, ../sass/screen.scss */
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
  background: none;
}
/* line 94, ../sass/screen.scss */
.navbar-inverse .navbar-nav {
  margin: 0px -15px;
}
/* line 96, ../sass/screen.scss */
.navbar-inverse .navbar-nav li {
  border-bottom: 1px solid #e0d3ae;
  background: #fef6df;
}
/* line 99, ../sass/screen.scss */
.navbar-inverse .navbar-nav li a {
  color: #707070;
  text-transform: uppercase;
  font-weight: bold;
}
/* line 103, ../sass/screen.scss */
.navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav li a:focus {
  color: #707070;
}

/* line 111, ../sass/screen.scss */
.article-row {
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 5px 10px;
  border-top: 1px dashed #beb28a;
}
/* line 116, ../sass/screen.scss */
.article-row .time {
  margin-bottom: 3px;
  display: block;
}
/* line 120, ../sass/screen.scss */
.article-row .article-title {
  color: #ecb011;
  display: block;
  font-weight: bold;
}
/* line 125, ../sass/screen.scss */
.article-row .col-xs-4 {
  padding: 0;
}
/* line 128, ../sass/screen.scss */
.article-row .image {
  width: 100%;
}

/* line 133, ../sass/screen.scss */
.article-single {
  padding-top: 10px;
}
/* line 135, ../sass/screen.scss */
.article-single .title {
  display: block;
  font-size: 14px;
  color: #edaf10;
}
/* line 140, ../sass/screen.scss */
.article-single .time {
  display: block;
  margin-bottom: 15px;
}
/* line 144, ../sass/screen.scss */
.article-single .image-header {
  width: 100%;
  margin-bottom: 15px;
}

/* line 151, ../sass/screen.scss */
.discussion-wrapper .meta {
  margin-bottom: 10px;
}
/* line 153, ../sass/screen.scss */
.discussion-wrapper .meta .name {
  color: #7cb824;
}
/* line 157, ../sass/screen.scss */
.discussion-wrapper .title {
  color: #f48ca6;
  font-weight: bold;
}
/* line 161, ../sass/screen.scss */
.discussion-wrapper .discussion-row {
  padding-top: 10px;
  padding-bottom: 10px;
}
/* line 164, ../sass/screen.scss */
.discussion-wrapper .discussion-row.reply {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}
/* line 168, ../sass/screen.scss */
.discussion-wrapper .discussion-row.reply .meta {
  margin-bottom: 0px;
}
/* line 172, ../sass/screen.scss */
.discussion-wrapper .discussion-row.comment {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}
/* line 176, ../sass/screen.scss */
.discussion-wrapper .discussion-row.comment .meta {
  margin-bottom: 5px;
}
/* line 178, ../sass/screen.scss */
.discussion-wrapper .discussion-row.comment .meta .name {
  color: #e9b52b;
}
/* line 184, ../sass/screen.scss */
.discussion-wrapper .action {
  display: block;
  margin-top: 15px;
  padding-bottom: 5px;
  position: relative;
  border-bottom: 1px dashed #beb18b;
}
/* line 190, ../sass/screen.scss */
.discussion-wrapper .action .button {
  padding: 2px 10px;
  display: inline-block;
  border: 1px solid #959595;
  font-size: 12px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin-right: 5px;
}
/* line 197, ../sass/screen.scss */
.discussion-wrapper .action .button a {
  color: #707070;
}

/* line 204, ../sass/screen.scss */
.list-answers {
  clear: both;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 90px;
}
/* line 209, ../sass/screen.scss */
.list-answers li {
  border: none;
  border-top: 1px solid #FFF;
  background-color: #959595;
}
/* line 212, ../sass/screen.scss */
.list-answers li:first-child, .list-answers li:last-child {
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
}
/* line 215, ../sass/screen.scss */
.list-answers li.answered {
  background-color: #e61e2b;
}
/* line 219, ../sass/screen.scss */
.list-answers li a {
  color: #FFF;
}

/* line 225, ../sass/screen.scss */
.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  background: #ebebeb;
}
/* line 232, ../sass/screen.scss */
.fixed-bottom .button-red {
  width: 100%;
  display: table;
  margin: 0 auto;
  background: #e61e2b;
  border: none;
  color: #FFF;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  padding: 8px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}
/* line 245, ../sass/screen.scss */
.fixed-bottom .form-submit-answer {
  text-align: center;
}
/* line 247, ../sass/screen.scss */
.fixed-bottom .form-submit-answer .button-red {
  margin-top: 5px;
  width: 70%;
}
/* line 251, ../sass/screen.scss */
.fixed-bottom .form-submit-answer .close {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 12px;
  line-height: 1em;
}
/* line 257, ../sass/screen.scss */
.fixed-bottom .form-submit-answer .close a {
  color: #333;
}

/* line 264, ../sass/screen.scss */
.form-submit-answer {
  display: none;
}

/* line 269, ../sass/screen.scss */
body.ask-page .head-row {
  margin-bottom: 25px;
}
/* line 272, ../sass/screen.scss */
body.ask-page .head-image {
  text-align: center;
  margin-bottom: 15px;
}
/* line 276, ../sass/screen.scss */
body.ask-page .doctor-description {
  margin-bottom: 15px;
}
/* line 278, ../sass/screen.scss */
body.ask-page .doctor-description .doctor-name {
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 18px;
  color: #e61e2b;
}
/* line 284, ../sass/screen.scss */
body.ask-page .doctor-description .doctor-specialize {
  margin-top: 5px;
  font-size: 14px;
  color: #e61e2b;
}
/* line 291, ../sass/screen.scss */
body.ask-page .lihat-jadwal {
  margin-top: 30px;
  background: #ebb010;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 15px;
  font-size: 12px;
  display: inline-block;
}
/* line 303, ../sass/screen.scss */
body.ask-page .specialize {
  color: #e91b2f;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  float: left;
}
/* line 310, ../sass/screen.scss */
body.ask-page .doctor-photo {
  max-width: 100%;
}
/* line 313, ../sass/screen.scss */
body.ask-page .back {
  margin-left: 3px;
  float: right;
  color: #9b9295;
  border: 1px solid #9b9295;
  -moz-border-radius: 999px;
  -webkit-border-radius: 999px;
  border-radius: 999px;
  font-size: 11px;
  width: 18px;
  height: 18px;
  text-align: center;
}

/* line 327, ../sass/screen.scss */
#chat-wrap li {
  list-style: none;
}

/* line 332, ../sass/screen.scss */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 337, ../sass/screen.scss */
.border-radius, .btn-soyjoy, body.ask-page .lihat-jadwal {
  border: none;
  height: 40px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}
