<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html ng-app="soyjoyApp">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="css/font.css">
        <link rel="stylesheet" type="text/css" href="css/token-input.css">
        <link rel="stylesheet" type="text/css" href="css/screen.css">
        <link rel="stylesheet" type="text/css" href="css/inject.css">

        <title>Dokter Diabetes</title>
    </head>
    <body ng-controller="landingController" class="{{ pageClass }}" id="landingController">


        <!-- <nav class="navbar navbar-inverse"  -->
        <div class="header" ng-if="userLogin == 1">
            <div class="container">
                <div class="logo">
                    <a href="#/" close-menu><img src="img/logo-nav.png"></a>
                </div>

                <div class="menu">
                    <a href="" menu-toggle class="btn-menu"><img src="img/nav-btn.png"></a>
                </div>
            </div>
        </div>

        <!-- menu ins -->
        <div class="menu-ins" style="display:none">

            <!--<div class="form-nav">-->
                <!--<div class="container">-->
                    <!--<div class="form">-->
                        <!--<input type="text" class="form-control border-radius-20" placeholder="Search Here...">-->

                        <!--<div class="icon">-->
                            <!--<button type="button">-->
                                <!--<span class="glyphicon glyphicon-search"></span>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!---->
                <!--</div>-->
            <!--</div>-->

            <ul class="nav navbar-nav">
                <li>
                    <a href="#/chats/1" close-menu>
                        <img src="assets/images/menu/ic-konsul.png">
                        <span>
                            Konsultasi Dokter
                        </span>
                    </a>
                </li>


                <li>
                    <a href="#/checkup" close-menu>
                        <img src="assets/images/menu/ic-checkup.png">
                        <span>
                            CHECK UP RECORD
                        </span>
                    </a>
                </li>

                <li>
                    <a href="#/discussions" close-menu>
                        <img src="assets/images/menu/ic-discuss.png">
                        <span>
                            Diskusi Diabetes
                        </span>
                    </a>
                </li>


                <li>
                    <a href="#/buddy"  close-menu>
                        <img src="assets/images/menu/ic-diabetes.png">
                        <span>
                            Diabetes Buddy
                        </span>
                    </a>
                </li>

                <!--<li>-->
                    <!--<a href="#/articles" close-menu>-->
                        <!--<img src="assets/images/menu/ic-article.png">-->
                        <!--<span>-->
                            <!--ARTIKEL KESEHATAN-->
                        <!--</span>-->
                    <!--</a>-->
                <!--</li>-->

                <li>
                    <a href="#/alfaonline" close-menu>
                        <img src="assets/images/menu/ic-alpha.png">
                        <span>
                            ALFAONLINE
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#/profile" close-menu>
                        <img src="assets/images/menu/ic-profil.png">
                        <span>
                            PROFILE KAMU
                        </span>
                    </a>
                    <a href="" ng-click="logout()" class="logout"  close-menu>
                        <span>
                            Logout
                        </span>
                    </a>
                </li>
            </ul>
        </div><!-- end menu ins -->
        <div class="loading">
            <div class="wrap">
                <img src="img/hourglass.gif" alt="" class="loading-bar" width="40"/>
                <p>Loading</p>
            </div>
        </div>
            <div style="margin-top: 20px;" ng-view ng-if="userLogin == 1"></div>
            <div ng-view ng-if="userLogin == 0"></div>
            <div id="deviceready" class="blink">
                <p class="event listening"></p>
                <p class="event received"></p>
            </div>

        <div class="event listening"></div>
        <div class="event received"></div>
        <script src="js/jquery-1.11.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/jquery.tokeninput.js"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/angular-sanitize.js"></script>
        <script src="js/angular-route.js"></script>
        <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
        <script src="js/ui-bootstrap-tpls-0.12.1.min.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/jQuery.circleMenu.js"></script>
        <script type="text/javascript" src="js/ng-cordova.min.js"></script>
        <script type="text/javascript" src="cordova.js"></script>
        <script type="text/javascript" src="PushNotification.js"></script>
        <script type="text/javascript" src="appsflyer.js"></script>
        <script type="text/javascript" src="js/index.js"></script>

        <script>
            app.initialize();
        </script>
    </body>
</html>
