<div class="pages alfa">
    <div class="container">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-xs-12">
                <div class="title-red">
                    <img src="{{ assets }}alfa-online-logo.png" style="max-width: 50%;"/>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-xs-6" ng-repeat="product in products" style="margin-bottom: 5px;">

                <div class="thumb">
                    <img src="{{ assets }}{{ product.image }}?v=2" style="width: 100%;">
                </div>
                <span style="font-size: 14px; color: #5d196e; font-weight: bold; text-align: center; display: block;">{{ product.title }}</span>
            </div>
            <!-- content-alfa -->
            <div class="col-xs-6">
                <div class="thumb">
                    <img src="{{ assets }}soyjoylogo.png" style="width: 100%;"/>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 20px; margin-bottom: 20px;">
            <div class="col-xs-12">
                <a href="" ng-click="externalLink()" class="pesan button-red border-radius">
                    PESAN SEKARANG
                </a><!-- end button -->
            </div>

        </div>

    </div>

</div>