<div class="container">

    <div class="pages discuss article">
        <div class="row">
            <div class="col-md-12">
                <div class="title-red margin-bottom-10">ARTICLES</div>

                <form ng-submit="search">
                    <div class="search-icon">
                        <div class="form">
                            <input type="text" ng-model="form.query" class="form-control border-radius-20" placeholder="Cari di sini..."/>
                        </div>
                        <div class="icon">
                            <button type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>

                    <div class="select-btn">
                        <select
                                ng-model="form.category"
                                ng-options="option.name for option in options track by option.id_category" name="category" class="'form-control">
                                <option value=''>- Pilih Kategori -</option>
                        </select>

                        <button class="btn btn-default" type="button" ng-click="search(form)">Cari</button>
                    </div>

                </form>

            </div>
            <div class="container">
                <div ng-repeat="feed in articles">

                    <div ng-repeat="article in feed.content" class="article-row row">

                        <div class="col-xs-4">
                            <a href="#/articles/{{ article.id }}" class="article-title"><img src="{{ asset }}{{ article.image }}" class="image"/></a>
                        </div>

                        <div class="col-xs-8">
                            <a href="#/articles/{{ article.id }}" class="article-title">{{ article.title }}</a>
                            <span class="time">{{ article.created_at }}</span>
                            <div class="body">{{ article.body | htmlToPlaintext }}</div>

                            <div class="icon-post">
                                <li>
                                    <a href="#/articles/{{ article.id }}">
                                        <img src="assets/images/ic-comment-red.png" alt="">
                                        <span>{{ article.comments }}</span>
                                    </a>
                                </li>

                                <li>
                                    <a href="" like-article="{{ article.id }}">
                                        <img src="assets/images/ic-love-red.png" alt="">
                                        <span>{{ article.likes }}</span>
                                    </a>
                                </li>

                                <!--<li>-->
                                <!--<a href="#">-->
                                <!--<img src="assets/images/ic-link-red.png" alt="">-->
                                <!--<span>12</span>-->
                                <!--</a>-->
                                <!--</li>-->
                            </div>

                            <div class="more-link">
                                <a href="#/articles/{{ article.id }}"><img src="assets/images/ic-dot-red.png" alt=""></a>
                            </div>
                        </div>

                    </div>
                    <ul class="pager" ng-if="feed.next_page_url">
                        <a href="" ng-click="push()" switch-page>Load more</a>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>