<div class="container">

	<div class="row">
	    <ul id="chat-wrap" class="col-xs-12"></ul>
	</div>
	<div class="fixed-bottom">
	    <div class="input-group">
	        <input type='hidden' id='nameInput'>
	        <input type='text' id='messageInput'  placeholder='Ketik disini...' class="form-control">
            <span class="input-group-btn">
	            <button class="btn btn-default" type="button" ng-click="getPicture()" style="border-radius: 0px;"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></button>
	        </span>
	        <span class="input-group-btn">
	            <button class="btn btn-default" type="button" ng-click="send()"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="padding: 2.5px;"></span></button>
	        </span>
	    </div>
	</div>
</div>
