<div class="container">

	<div class="pages chatlist">
		<div class="row">
		    <div class="col-xs-12 head-row">
		        <span class="specialize title-red">{{ doctors.data[0].specialize }}</span>
		        <a ng-if="doctors.next_page_url" href="#/chats/{{ page+1 }}" class="back">></a>
		        <a ng-if="doctors.prev_page_url" href="#/chats/{{ page-1 }}" class="back"><</a>
		    </div>
		</div>


		
		<div class="centered ava-konsul">
			<div class="ava-doctor navbar-left">
				<img src="{{ assets }}{{ doctors.data[0].picture }}" style="border-radius: 100%;">
			</div>

			<div class="konsul-doctor navbar-left">
				<img src="assets/images/konsul-doctor.png">
			</div>
		</div>


		<div class="name-desc" ng-repeat="doctor in doctors.data">
			<span class="title-red">{{ doctor.name }}</span>
			<span class="desc" ng-bind-html="doctor.description"></span>
		</div>

		
		<div class="btn" ng-repeat="doctor in doctors.data">	
			<a href="#/chat/{{ doctor.doctor_id}}/{{ token }}" ng-if="doctor.status == 1">Live Chat</a>
	        <a href="" ng-if="doctor.status == 0" class="offline">Offline</a>
	    	<a href="#/ask/{{ doctor.doctor_id }}">Message Me</a>
		</div>
		
		<div class="jadwal">
			<span class="title-red">
				JADWAL LIVE CHAT
			</span>

			<div class="schedule-wrapper" ng-repeat="doctor in doctors.data" ng-bind-html="doctor.schedule"></div>

		</div>

		<div class="jadwal">
			<span class="title-red">
				ASK QUESTION - OFFLINE
			</span>

			<span>
				Setiap pertanyaan akan dijawab dalam waktu 1x 24 jam (selama hari kerja).
			</span>

			

		</div>
		
	</div>
</div>