<div class="container">
    <div class="pages  checkup">
        <div class="title-desc col-xs-12 no-padding">
            <div class="title-red no-width">
				CHECK UP RECORD
            </div>
            <div class="desc-title col-xs-12 no-padding">
                <span>
                    Catat dan pantau record harian Anda untuk mencapai hidup yang lebih sehat.
                </span>
            </div>
			<div class="button-edit navbar-left col-xs-12 margin-top-20 no-padding">
	            <a class="button-green border-radius" href="#/checkupedit">
	            	EDIT DATA ANDA
	            </a>
	        </div> 
        </div>
        <div class="content">
            <li class="boxes">
                <a href="#/glucoserecord/7">
                    <div class="icon-text">
                        <span class="yellow">
                        	GLUCOSE<br>RECORD
                        </span>
                        <div class="icon">
                            <img src="assets/images/checkup/1.jpg">
                        </div>
                    </div>
                </a>
            </li>
            <li class="boxes">
                <a href="#/weightrecord/7">
                    <div class="icon-text">
                        <span class="green">
                        	WEIGHT<br>RECORD
                        </span>
                        <div class="icon">
                            <img src="assets/images/checkup/2.jpg">
                        </div>
                    </div>
                </a>
            </li>

            <li class="boxes">
                <a href="#/tensirecord/7">
                    <div class="icon-text">
                        <div class="icon">
                            <img src="assets/images/checkup/3.jpg">
                        </div>
                        <span class="purple bottom">
                        	TENSI<br>RECORD
                        </span>
                    </div>
                </a>
            </li>
            <li class="boxes">
                <a href="#/foodrecord">
                    <div class="icon-text">
                        <div class="icon">
                            <img src="assets/images/checkup/4.jpg">
                        </div>
                        <span class="pink bottom">
                        	FOOD<br>RECORD
                        </span>
                    </div>
                </a>
            </li>
        </div>
    </div>
</div>