<div class="container">

    <div class="pages diabetes">
        
        <div class="title-desc col-xs-12 no-padding">
            <div class="title-red no-width">
                DIABETES BUDDY
            </div>
            
            <div class="desc-title col-xs-12 no-padding">
                <span>
                    Dapatkan informasi seputar diabetes, tips kesehatan serta pengetahuan kesehatan Anda.
                </span>
            </div>
        </div>
        

        <div class="content-deabetes">
            <li>
                <a href="#/articles">
                    <div class="icon-text">
                        <div class="icon">
                            <img src="assets/images/ic-paper.png">
                        </div>

                        <a href="#/articles" class="text">ARTIKEL KESEHATAN</a>
                    </div>
                </a>
            </li>

            <li>
                <a href="#/mitosfakta">
                    <div class="icon-text">
                        <div class="icon">
                            <img src="assets/images/ic-mitos.png">
                        </div>
                        <a href="#/mitosfakta" class="text">
                            MITOS & FAKTA
                        </a>
                    </div>
                </a>
            </li>

            <!--<li>-->
                <!--<a href="#/diabetescalculator">-->
                    <!--<div class="icon-text">-->
                        <!--<div class="icon">-->
                            <!--<a href="#/diabetescalculator">-->
                                <!--<img src="assets/images/ic-calculator.png">-->
                            <!--</a>-->

                        <!--</div>-->
                        <!--<a href="#/diabetescalculator" class="text">-->
                            <!--DIABETES KALKULATOR-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</li>-->
        </div>
        
    </div>
</div>