<div class="container">

    <div class="row discussion-wrapper">
        <div class="discussion-row col-xs-12">
            <a href="#/discussions/{{ discussion.discussion_id }}/1" class="title">{{ discussion.topic }}</a>
            <div class="meta">
                <span class="time">{{ discussion.created_at }}</span> | <span class="name">{{ discussion.name }}</span>
            </div>
            <div class="body">{{ discussion.body }}</div>
            <!--<div class="action">-->
                <!--<span class="button"><a href="" ng-click="answer()">Jawab</a></span><span class="button">Share</span>-->
            <!--</div>-->

            <form class="reply-form" novalidate>
                <div class="form-group">
                    <textarea name="" ng-model="form.comment" rows="10" class="col-xs-12 form-control"></textarea>
                    <button class="button-red border-radius-20 margin-20" type="button" ng-click="submit(form)">Send</button>
                </div>
            </form>
            <div class="discussion-row reply col-xs-12 star" ng-if="empty == 0">
                Jawaban terbaik :<br>
                <div class="meta">
                    <span class="name">{{ star.name }}</span> | <span class="time">{{ star.created_at }}</span>
                </div>
                <div class="body">
                    {{ star.body }}
                </div>
            </div>

            <div ng-repeat="reply in replies.data" class="discussion-row reply col-xs-12">
                <div class="meta">
                    <span class="name">{{ reply.name }}</span> | <span class="time">{{ reply.created_at }}</span>
                </div>
                <div class="body">
                    {{ reply.body }}
                </div>
            </div>


            <ul class="pager">
                <li ng-if="replies.prev_page_url"><a href="#/discussions/{{ id  }}/{{ page-1 }}">Prev</a></li>
                <li ng-if="replies.next_page_url"><a href="#/discussions/{{ id }}/{{ page+1 }}">Next</a></li>
            </ul>
        </div>
    </div>
</div>
