<div class="container">
    <div class="pages discuss">

        <div class="row discussion-wrapper">
            <div class="col-md-12">
                <div class="title-red margin-bottom-10">DISKUSI DIABETES</div>
                <p> Diskusi Diabetes, tempat berbagi segala hal tentang diabetes antar user.</p>
                <form ng-submit="search">
                    <input type="text" ng-model="form.query" class="form-control border-radius-20" placeholder="Cari disini..."/>
                    
                    <div class="select-btn">
                        <select
                                ng-model="form.category"
                                ng-options="option.name for option in options track by option.id_category" name="category" class="'form-control">
                            <option value=''>- Pilih Kategori -</option>
                        </select>

                        <button class="btn btn-default" type="button" ng-click="search(form)">Cari</button>
                    </div>
                    
                </form>

            </div>
            <div ng-repeat="feed in discussions">
                <div ng-repeat="discussion in feed.content" class="discussion-row col-xs-12">
                    <a href="#/discussions/{{ discussion.discussion_id }}/1" class="title">{{ discussion.topic }}</a>
                    <div class="meta">
                        <span class="time">{{ discussion.created_at }}</span> | <span class="name">{{ discussion.name }}</span>
                    </div>
                    <div class="body">{{ discussion.body }}</div>
                    <div class="action">
                        <div class="left">
                            <a href="#/discussions/{{ discussion.discussion_id }}/1"><img src="assets/images/ic-comment.png"><span>{{ discussion.comments }}</span></a>
                            <a href="" like-discussion="{{ discussion.discussion_id }}"><img src="assets/images/ic-love.png"><span>{{ discussion.likes }}</span></a>
                            <!--<a href="#"><img src="assets/images/ic-star.png" class="star"><span>50</span></a>-->
                        </div>
                        <div class="right">
                            <a href="#/discussions/{{ discussion.discussion_id }}/1"><img src="assets/images/ic-dot.png"></a>
                        </div>
                    </div>
                </div>
                <ul class="pager" ng-if="feed.next_page_url">
                    <a href="" ng-click="push()" switch-page>Load more</a>
                </ul>
            </div>
        </div>





        <div class="fixed-bottom">
            <div class="form-submit-answer">
                <span class="close"><a href="" close-comment>x</a></span>
                <form novalidate>
                    <select aria-label="ngSelected" name="category"
                            ng-model="form.category"
                            ng-options="option.name for option in options track by option.id_category" name="category" class="form-control margin-bottom-10">
                        <option value=''>- Pilih Kategori -</option>
                    </select>
                    <input type="text" name="topic" ng-model="form.topic" class="form-control" placeholder="Tulis pertanyaan/keluhan Anda disini..."/>
                    <textarea name="body" ng-model="form.body" cols="30" rows="5" class="col-xs-12 form-control margin-10"></textarea>

                    <button ng-click="submit(form)" class="button-red col-xs-12">Kirim Pertanyaan</button>
                </form>
            </div>
            <button open-comment class="button-red ask-button">Tulis Pertanyaan</button>
        </div>

    </div>
</div>