<div class="container">

    <div class="pages foodrecord checkup">
        
        <div class="col-xs-12 no-padding">
            <div class="title-red margin-bottom-10 no-width">
                FOOD RECORD
            </div>
            <a href="#/checkup" class="btn-back">
                <span class="glyphicon glyphicon-menu-left"></span>
            </a>

            <div class="desc navbar-lef">
                Mencatat asupan makanan dengan menghitung jumlah kalori harian Anda.
            </div>
        </div>

        <div class="kaloriideal">
            <span class="bold">
                Kalori ideal Anda:
            </span>

            <div class="total">
                {{ calorie }} KKal
            </div>
        </div>

        <div class="content">
            <div class="margin-bottom-10 no-width bold">
                INPUT DATA
            </div>
            <form novalidate>
                <div class="form-group">
                    <div class="icon">
                        <img src="assets/images/record/1.png">
                    </div>
                    <div class="form">
                        <input type="text" class="form-control" ng-model="form.sarapan" auto-complete="Sarapan" schedule-mode="1" id="makan-pagi">
                    </div>
                </div>

                <div class="form-group">
                    <div class="icon">
                        <img src="assets/images/record/2.png">
                    </div>
                    <div class="form">
                        <input type="text" class="form-control" ng-model="form.snacksiang" auto-complete="Snack Siang" schedule-mode="2" id="snack-siang">
                    </div>
                </div>

                <div class="form-group">
                    <div class="icon">
                        <img src="assets/images/record/3.png">
                    </div>
                    <div class="form">
                        <input type="text" class="form-control" ng-model="form.makansiang" auto-complete="Makan Siang" schedule-mode="3" id="makan-siang">
                    </div>
                </div>

                <div class="form-group">
                    <div class="icon">
                        <img src="assets/images/record/4.png">
                    </div>
                    <div class="form">
                        <input type="text" class="form-control" ng-model="form.snacksore" auto-complete="Snack Sore" schedule-mode="4" id="snack-sore">
                    </div>
                </div>

                <div class="form-group">
                    <div class="icon">
                        <img src="assets/images/record/5.png">
                    </div>
                    <div class="form">
                        <input type="text" class="form-control" ng-model="form.makanmalam" auto-complete="Makan Malam" schedule-mode="5" id="makan-malam">
                    </div>
                </div>

                <div class="form-group calendar">
                    <div class="icon">
                        <img src="assets/images/record/6.png">
                    </div>
                    <div class="form">
                        <select aria-label="ngSelected" name="date" ng-model="form.date" class="form-control border-radius" style="width: 30%; float: left; margin-right: 1%;">
                            <option value="">- Tanggal -</option>
                            <option value="01" ng-selected="selected">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                        <select aria-label="ngSelected" name="month" ng-model="form.month" class="form-control border-radius" style="width: 34%; float: left; margin-right: 1%;">
                            <option value="">- Bulan -</option>
                            <option value="01">Januari</option>
                            <option value="02">Februari</option>
                            <option value="03">Maret</option>
                            <option value="04">April</option>
                            <option value="05">Mei</option>
                            <option value="06">Juni</option>
                            <option value="07">Juli</option>
                            <option value="08">Agustus</option>
                            <option value="09">September</option>
                            <option value="10">Oktober</option>
                            <option value="12">November</option>
                            <option value="12">Desember</option>
                        </select>
                        <select aria-label="ngSelected" name="year" ng-model="form.year" class="form-control border-radius" style="width: 30%; float: left; margin-right: 1%;">
                            <option value="">- Tahun -</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                        </select>
                    </div>
                </div>

                <div class="button">
                    <input type="submit" value="SUBMIT" ng-click="submit(form)">
                </div>
            </form>
        </div>
    </div>
</div>