<div class="container">

    <div class="pages foodrecord checkup">

        <div class="col-xs-12 no-padding">
            <div class="title-red margin-bottom-10 no-width">
                FOOD RECORD
            </div>
            <a href="#/foodrecord" class="btn-back">
                <span class="glyphicon glyphicon-menu-left"></span>
            </a>
        </div>

        <div class="kaloriideal">
            <span>
                Kalori ideal Anda:
            </span>

            <div class="total">
                {{ calorie }} KKal
            </div>
        </div>

        <div class="content">
            <div class="margin-bottom-10 no-width bold">
                INPUT DATA
            </div>
            <form action="#">

                <div class="form-group">
                    <div class="icon">
                        <img src="assets/images/record/1.png">
                    </div>
                    <div class="form">
                        <span class="title-form">
                        	Sarapan
                        </span>

						<div class="title-total" ng-repeat="mpagi in foods.mpagi" ng-class="computeCssClass($last)">
	                        <span class="title" ng-if="mpagi.name">
	                        	{{ mpagi.name }}
	                        </span>
	                        <span class="hasil" ng-if="mpagi.calorie">
	                        	<b>{{ mpagi.calorie }}</b> Kkal
	                        </span>

	                    </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="icon">
                        <img src="assets/images/record/2.png">
                    </div>
                    <div class="form">
                        <span class="title-form">
                        	Snack Siang
                        </span>

                        <div class="title-total" ng-repeat="ssiang in foods.ssiang" ng-class="computeCssClass($last)">
	                        <span class="title" ng-if="ssiang.name">
	                        	{{ ssiang.name }}
	                        </span>
	                        <span class="hasil" ng-if="ssiang.calorie">
	                        	<b>{{ ssiang.calorie }}</b> Kkal
	                        </span>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="icon">
                        <img src="assets/images/record/3.png">
                    </div>
                    <div class="form">
                        <span class="title-form">
                        	Makan Siang
                        </span>

                        <div class="title-total" ng-repeat="msiang in foods.msiang">
	                        <span class="title" ng-if="msiang.name">
	                        	{{ msiang.name }}
	                        </span>
	                        <span class="hasil" ng-if="msiang.calorie">
	                        	<b>{{ msiang.calorie }}</b> Kkal
	                        </span>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="icon">
                        <img src="assets/images/record/4.png">
                    </div>
                    <div class="form">
                        <span class="title-form">
                        	Snack Sore
                        </span>

                        <div class="title-total" ng-repeat="ssore in foods.ssore">
	                        <span class="title" ng-if="ssore.name">
	                        	{{ ssore.name }}
	                        </span>
	                        <span class="hasil" ng-if="ssore.calorie">
	                        	<b>{{ ssore.calorie }}</b> Kkal
	                        </span>

                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="icon">
                        <img src="assets/images/record/5.png">
                    </div>
                    <div class="form">
                        <span class="title-form">
                        	Makan Malam
                        </span>

                        <div class="title-total" ng-repeat="mmalam in foods.mmalam">
	                        <span class="title" ng-if="mmalam.name">
	                        	{{ mmalam.name }}
	                        </span>
	                        <span class="hasil" ng-if="mmalam.calorie">
	                        	<b>{{ mmalam.calorie }}</b> Kkal
	                        </span>

                        </div>
                    </div>
                </div>


                <div class="total button-red border-radius margin-top-10">
                	<div class="navbar-left">
                		Total kalori:
                	</div>

                	<div class="navbar-right">
                		{{ totalCal }} Kkal
                	</div>
                </div>

                <div class="notes">
                    <span ng-if="calorie > totalCal">
                        Note : Asupan harian anda kurang dari {{ calorie }} Kkal
                    </span>
                	<span ng-if="calorie < totalCal">
                        Note : Asupan harian anda lebih dari {{ calorie }} Kkal
                    </span>
                </div>

                <div class="button-save">
                	<!--<a href="#">SIMPAN (PDF)</a>-->
                	<a href="#/foodrecord" style="float: none; display: table; margin: 0 auto;">HITUNG ULANG</a>
                </div>

        </div>




    </div>
</div>