<div id="home-page" style="height: {{ h }}px; margin-top: -70px; background: none;" ng-if="userLogin == 1">
    
    <div class="homes">
        <!--<img src="img/home.jpg" style="width: 100%;"/>-->
        <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
                <div class="slider-wrapper" style="height: {{ h }}px">
                    <img ng-src="{{slide.image}}" class="slider-image">
                    <div class="caption">
                        <p ng-bind-html="slide.text"></p>
                    </div>
                </div>
            </slide>
        </carousel>
        <div class="menu-footer">
            <div class="circle-menu">                
                <div class="inner-circle"></div>
                <ul circle-menu>
                    <li><a href=""><img src="assets/images/menu-0.png"/></a></li>
                    <li><a href="#/chats/1"><img src="assets/images/menu-1.png"/></a></li>
                    <li><a href="#/discussions"><img src="assets/images/menu-2.png"/></a></li>
                    <li><a href="#/buddy"><img src="assets/images/menu-3.png"/></a></li>
                    <li><a href="#/checkup"><img src="assets/images/menu-4.png"/></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>