<div class="container">
    <img src="img/login-header.png" alt="Soyjoy" class="header-image"/>
    <h3>Login</h3>
    <form novalidate class="login">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <input type="email" class="form-control border-radius" name="email" value="" ng-model="form.email" placeholder="Email">
                </div>
            </div>

        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <input type="text" class="form-control border-radius" name="password" ng-model="form.password" placeholder="Kata Sandi">
                </div>
            </div>

        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn-soyjoy yellow" ng-click="update(form)">
                        Masuk
                    </button>
                </div>
            </div>
        </div>
    </form>

    <a href="#/user/register" style="margin-top: 40px;">Daftar di sini!</a>
    <div class="row">
        <a href="#/user/forget" style="margin-top: 20px; border: none; padding: none;">Lupa Password</a>
    </div>
</div>