<div class="container">

    <div class="pages profile signup" ng-controller="passwordController">


        <div class="title-red margin-bottom-10">Ubah kata sandi</div>


        <div class="content-form">
            <form novalidate class="password">

                <div class="container">

                    <div class="icon-form">
                        <div class="icon">
                            <img src="assets/images/signup/ic-password.png">
                        </div>
                        <div class="form">
                            <input type="text" class="form-control border-radius" ng-model="form.old" placeholder="Password sebelumnya" required=""/>
                        </div>
                    </div>
                    <div class="icon-form">
                        <div class="icon">
                            <img src="assets/images/signup/ic-password.png">
                        </div>
                        <div class="form">
                            <input type="text" class="form-control border-radius" ng-model="form.new" placeholder="Password baru" required=""/>
                        </div>
                    </div>
                    <div class="icon-form">
                        <div class="icon">
                            <img src="assets/images/signup/ic-password.png">
                        </div>
                        <div class="form">
                            <input type="text" class="form-control border-radius" ng-model="form.confirm" placeholder="Konfirmasi password" required=""/>
                        </div>
                    </div>
                    <div class="icon-form">
                        <ul class="register-error"></ul>
                    </div>
                    <div class="icon-form">
                        <button type="submit" class="btn-soyjoy red" ng-click="change(form)">
                            SIMPAN
                        </button>
                    </div>
                    <div class="icon-form" style="text-align: center;">
                        <a href="#/profile" style="text-decoration: underline;">
                            Kembali
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>