@font-face {
  font-family: 'Futura Md BT';
  src: url('Futura Bold.eot'); /* IE9 Compat Modes */
  src: url('Futura Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('Futura Bold.woff') format('woff'), /* Modern Browsers */
       url('Futura Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('Futura Bold.svg#3fc2bee58dbb778cde6c47c8792165c3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}


@font-face {
  font-family: 'futura-md-bt-bold';
  src: url('../font/futura-md-bt-bold.eot'); /* IE9 Compat Modes */
  src: url('../font/futura-md-bt-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../font/futura-md-bt-bold.woff') format('woff'), /* Modern Browsers */
       url('../font/futura-md-bt-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../font/futura-md-bt-bold.svg#3fc2bee58dbb778cde6c47c8792165c3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}




