.centered{margin: 0 auto; display: table;}
.relative{position: relative;}
.navbar-left{float: left;}
.color-red{color: #e61d2b}
.title-red{width: 100%; float: left; color: #e61d2b; font-size: 15px; font-weight: bold;}
.title-purple{width: 100%; float: left; color: #5d196e; font-size: 15px; font-weight: bold;}
.margin-top-10{margin-top: 10px}
.margin-top-20{margin-top: 20px}
.margin-bottom-5{margin-bottom: 5px}
.margin-bottom-10{margin-bottom: 10px}
.margin-bottom-20{margin-bottom: 20px}
.no-padding{padding:0;}
.bold{font-weight: bold;}
.margin-10{margin: 10px 0;}
.margin-20{margin: 20px 0;}
.no-width{width: auto !important}

.border-radius-20{border-radius: 20px;}
.button-red{float: left; width: 100%; display: block; background: #e61d2b; color: #fff; padding: 10px 0; text-align: center; font-weight: bold; border: 0}
.button-red:hover{text-decoration: none; color: #fff}
.button-green{float: left; width: 100%; display: block; background: #7cb824; color: #fff; padding: 10px 0; text-align: center; font-weight: bold; border: 0}
.button-green:hover{text-decoration: none; color: #fff}


.pages.article-detail{padding-bottom: 50px;}
.pages span{font-size: 13px}
.col-xs-12{width: 100% !important}

a.btn-back{float: right; border: 1px solid #9b9295; color: #9b9295; padding: 4px 5px; font-size: 13px; border-radius: 100%;}
a.btn-back span{float: left; padding-bottom: 1px;}

.notes-form-bottom{float: left; width: 100%; margin: 10px 0; font-size: 12px !important; color: #959595; text-align: left;}

/*header*/
.header{width: 100%; padding:10px 0; background: #e22a26; margin-bottom: 0px; position: relative; z-index: 9999999;}
	.header .container{padding-right: 15px !important; padding-left: 15px !important; margin-right: auto !important; margin-left: auto !important;}
	.header .logo{float: left;}
	.header .logo a{border-bottom: 0;}
	.header .menu{float: right;}
	.header .menu a{border-bottom: 0;}

/*menu*/
.menu-ins{float: left; width: 100%; position: absolute; top: 49px; z-index: 99999;}
	.menu-ins .container{padding-right: 15px !important; padding-left: 15px !important; margin-right: auto !important; margin-left: auto !important;}
	.menu-ins .navbar-nav{float: left; width: 100%; background: #fef6df; margin: 0;}
	.menu-ins .navbar-nav li{float: left; width: 100%; border-bottom: 1px solid #e0d3ae;}
	.menu-ins .navbar-nav li a{float: left; width: 100%; color: #707070; font-weight: bold; text-transform: uppercase; margin-top: 6px; }
	.menu-ins .navbar-nav li a img{float: left; margin-right: 10px;}
	.menu-ins .navbar-nav li a.logout{padding: 0; padding-bottom: 10px; }
	.menu-ins .navbar-nav li a span{float: left; margin-top: 5px;}
	.menu-ins .navbar-nav li a.logout span{float: left; margin-left: 62px; margin-top: 10px;}


/*menu form*/
.form-nav{float: left; width: 100%; background: #e61e2b; padding: 10px 0; position: relative;}
.form-nav .form{position: relative;}
.form-nav .icon button{position: absolute; right: 7px; top: 6px; color: #959595; border: 0; background: transparent; font-size: 15px; }


/*homepage*/
#home-page{float: left; width: 100%; background: url('../img/home.jpg') no-repeat top center fixed;-moz-background-size:cover;-o-background-size:cover;-webkit-background-size:cover;background-size:cover; margin-top: -20px;}
	#home-page .homes{display: block; width: 100%; height: 100%; position: relative; overflow: hidden;}
	#home-page .homes .centered{width: 97%}
	#home-page .homes .menu-footer{position: absolute; bottom: 0px; z-index: 1; float: left; width: 100%;}
	#home-page .homes .menu-footer .circle{background: #e61d2b; width: 310px; height: 310px; border-radius: 50%; border: 10px solid #fff; margin: 0 auto; display: table; position: relative;}
	#home-page .homes .menu-footer .circle .menu{float: left; width: 100%;}
	#home-page .homes .menu-footer .circle .menu a{position: absolute; top: 0; z-index: 2;}
	#home-page .homes .menu-footer .circle .menu a.center{  left: 33%; top: -17%;}
	#home-page .homes .menu-footer .circle .menu a.left{top: 33px;}
	#home-page .homes .menu-footer .circle .menu a.right{top: 33px; right:0;}

	body{float: left; width: 100%;}
	body.landing{float: left; width: 100%;}

.pages.home{float: left; width: 100%; margin-top: -20px;}
.pages.home .bg_home{float: left; width: 100%;}
.pages.home .bg_home img{float: left; width: 100%;}


/*page chat*/
#chat-wrap li.doctor{float: right; width: 100%}
#chat-wrap li.doctor span{float: right; padding: 10px; border-radius: 20px; background: #e61d2b; color: #fff;   letter-spacing: 1px;}
#chat-wrap li.doctor img.avatar{float: right; width: 50px; margin-left: 5px;}

#chat-wrap li{float:left; width: 100%;}
#chat-wrap li span{margin-top: 10px; max-width: 80%}
#chat-wrap li.user img.avatar{float: left; width: 50px; height: 50px; margin-right: 5px;}



/*page article*/
.pages.article .search-icon{float: left; width: 100%; position: relative;}
.pages.article .search-icon .icon button{position: absolute; top: 8px; right: 5px; background: transparent; border: 0;}
.pages.article .search-icon .icon button span{font-size: 15px;}
.pages.article .article-row{float: left; width: 100%; border-top: 0; border-bottom: 1px dotted #beb18b; margin: 0; margin-bottom: 10px; margin-top: 20px; padding-bottom: 10px;}
.pages.article .article-row .time{margin-bottom: 10px ; font-size: 12px;}
.pages.article .article-row .body{font-size: 13px; margin-bottom: 10px;}
.pages.article .article-row .article-title img{border-radius: 20px;}

.pages.article .article-row .icon-post{float: left;}
.pages.article .article-row .icon-post li{float: left; list-style: none; margin-right: 10px}
.pages.article .article-row .icon-post img{float: left; margin-right: 5px;}
.pages.article .article-row .icon-post span{float: left; font-size: 12px; color: #e61d2b; margin-top: -2px;}
.pages.article .article-row .more-link{float: right; margin-top: -5px;}


/*page signup*/
.pages.signup h3{margin-top: 0; margin-bottom: 20px}
.pages.signup a{color: #707070}
.pages.signup .icon-form{float: left; width: 100%; margin-bottom: 20px;}
.pages.signup .icon-form .icon{float: left;  margin-right: 3%;}

.pages.signup .icon-form .form{float: left; width: 82%}
.pages.signup .icon-form .form input{float: left; width: 100%}
.pages.signup .icon-form .form input.term{float: left; width: auto; margin-left: 10px; margin-right: 10px;}
.pages.signup .icon-form .form span{float: left; font-size: 13px;}
.pages.signup .icon-form .form select{-webkit-appearance: none; -mozkit-appearance: none;}





/*page chatlist*/
.pages.chatlist	.ava-konsul{margin-bottom: 20px ;}
.pages.chatlist	.ava-konsul .konsul-doctor{margin-top: 50px; margin-left: -40px;}

.pages.chatlist	.name-desc{width: 100%; display: block;}
.pages.chatlist	.name-desc .desc{width: 100%; display: block; margin-bottom: 20px;}

.pages.chatlist	.btn{float: left; width: 100%; margin-bottom: 20px;}
.pages.chatlist	.btn a{float: left; padding: 10px 0; width: 45%; margin: 2%; border-radius: 20px; background: #ebb010; color: #fff; text-align: center; text-transform: uppercase; font-weight: bold;}
.pages.chatlist	.btn a.offline{ background: #636363;}
.pages.chatlist	.jadwal {float: left; width: 100%; margin-bottom: 20px;}
.pages.chatlist	.jadwal ul{float: left; width: 100%; margin: 0; padding:0; margin-top: 5px;}
.pages.chatlist	.jadwal ul li{float: left; width: 100%; list-style: none;}
.pages.chatlist	.jadwal ul li .day{float: left; width: 30%;}
.pages.chatlist	.jadwal ul li .pkl{float: left;}



/*page profile*/
.pages.profile{float: left; width: 100%;}

.pages.profile .ava-profile{float: none; margin: 0 auto; display: table; position: relative;}
.pages.profile .ava-profile .image{float: left; width: 129px; height: 129px; overflow: hidden; z-index: 1;}
.pages.profile .ava-profile .image img{float: left; width: 100%; height: auto; border-radius:100%; height: 100%;  -webkit-filter: drop-shadow(0px 0px 1px #9b9b99); -mozkit-filter: drop-shadow(0px 0px 1px #9b9b99); filter: drop-shadow(0px 0px 1px #9b9b99);}
.pages.profile .ava-profile .icon{ top: 87px; left: 95px; z-index: 2; position: absolute; width: 100px}
.pages.profile .ava-profile .icon img{float: left;}
.pages.profile .ava-profile .icon span{float: left; color: #959595; letter-spacing: 1px; margin-top: 10px; font-size: 13px; margin-left: 5px;}

.pages.profile .content-form{float: left; width: 100%; margin-top: 20px}
.pages.profile .content-form input{background: #ffd200; color: #e61d2b}
.pages.profile .content-form input::-webkit-input-placeholder {color: #e61d2b; font-weight: bold; }
.pages.profile .content-form input:-moz-placeholder { /* Firefox 18- */ color: #e61d2b; font-weight: bold; }
.pages.profile .content-form input:-ms-input-placeholder { color: #e61d2b;  font-weight: bold;}
.pages.profile .content-form select{background: #ffd200; color: #e61d2b}


/*pages ask*/

.pages.ask .ava-jadwal{float: left; width: 100%;}
.pages.ask .ava-jadwal .ava-doctor{margin: 0 auto; display: table; width: 300px; position: relative;}
.pages.ask .ava-jadwal .ava-doctor .ava{float: left; width: 114px; height: 114px; overflow: hidden;}
.pages.ask .ava-jadwal .ava-doctor .ava img{width: 100%; height: auto; display: block; border-radius: 100%}
.pages.ask .ava-jadwal .ava-doctor .icon{float: left; position: absolute; top: 50px; right: 155px;}
.pages.ask .ava-jadwal a.jadwal-doctor{float: left; background: #ebb111; color: #fff; padding: 10px 15px; border-radius: 20px; font-weight: bold; letter-spacing: 1px; font-size: 12px; margin-top: 40px; margin-left: 30px;}
.pages.ask .name-desc{float: left; width: 100%; margin: 20px 0;}
.pages.ask .name-desc .desc{width: 100%; display: block; color: #e61d2b; font-size: 13px; letter-spacing: 1px;}

.pages.ask .list-answers li {padding: 0}
.pages.ask .list-answers li a{display: block; width: 100%; padding: 10px; letter-spacing: 1px; font-size: 12px;}

/*ask detail*/
.pages.ask .content-pertanyaan{width: 100%; display: block; margin-bottom: 50px; float: left;}
.pages.ask .pertanyaan{float: left; width: 100%; margin-top: 5px; margin-bottom: 20px;}
.pages.ask .pertanyaan .title{float: left; width: 100%; color: #e61d2b; font-size: 13px; margin-bottom: 2px; font-weight: bold;}
.pages.ask .pertanyaan .content{float: left; width: 100%; color: #9b978e; font-size: 12px; letter-spacing: 1px;}
.pages.ask .pertanyaan .content img{ width: 30%; display: table; margin: 0 auto;}



/*page discuss*/
.pages.discuss .select-btn{float: left; width: 100%; margin-top: 10px;}
.pages.discuss .select-btn select{float: left; width: 78%; margin-right: 2%; height: auto; padding: 5px; border-radius: 20px; -webkit-appearance: none; -mozkit-appearance: none;}
.pages.discuss .select-btn button{float: left; width: 20%; padding: 7px; background: #e61d2b; color: #fff; border-radius: 20px; border: 0; font-size: 12px;}
.pages.discuss .discussion-row .action {float: left; width: 100%;}
.pages.discuss .discussion-row .action .left{float: left;}
.pages.discuss .discussion-row .action .right{float: right;}
.pages.discuss .discussion-row .action a{float: left; color: #f48ca6; margin-right: 10px;}
.pages.discuss .discussion-row .action a img{float: left;}
.pages.discuss .discussion-row .action a img.star{margin-top:-2px; }
.pages.discuss .discussion-row .action a span{float: left; font-size: 12px; margin-left: 2px; margin-top: -2px;}

.discussion-wrapper .action{padding-bottom: 15px !important}


/*pages diabetes*/
.pages.diabetes .desc-title span{margin-top: 10px; color: #706f74}

.pages.diabetes .content-deabetes{float: left; width: 100%; margin-top: 20px}
.pages.diabetes .content-deabetes li{float: left; width: 100%; border: 1px solid #e1d3ae; padding: 20px 10px; list-style: none; margin-top: -1px}
.pages.diabetes .content-deabetes li .icon-text{margin: 0 auto; display: table; width: 260px;}
.pages.diabetes .content-deabetes li .icon-text .icon{float: left;}
.pages.diabetes .content-deabetes li .icon-text .text{float: left; color: #f3bd3f; margin-left: 10px; margin-top: 30px; font-size: 13px; font-weight: bold; letter-spacing: 1px;}

/*pages mitos*/


.pages.mitos .carousel-control {
    background: none
}

.pages.mitos .carousel-indicators{display: none; }
.pages.mitos .head-mitos{float: left; width: 100%; margin-top: 20px;}

.pages.mitos .head-mitos .image{float: left; width: 100%; position: relative; z-index: 1;}
.pages.mitos .head-mitos .image img{float: left; width: 100%; height: auto;}

.pages.mitos .head-mitos .text{float: left; width: 100%; background: #7ab827; position: relative; z-index: 2; border-radius: 20px; padding: 20px 0; margin-top: -30px;}
.pages.mitos .head-mitos .text .text-ins{margin: 0 auto; width: 80%; display: table;}
.pages.mitos .head-mitos .text .text-ins span{display: block; width: 100%; color: #fff; font-weight: bold; font-size: 12px; letter-spacing: 1px;}


	/*slide*/
	.carousel-control{float: left; position: fixed; height: 30px; width: 30px; opacity: 1 !important;  top: 40%}
	.carousel-control.left{left: -10px;}
	.carousel-control.right{right:-10px;}
	span.glyphicon-chevron-left{float: left; background: rgba(255,255,255,0.8); padding: 30px; border-radius: 100%;  text-shadow:none; color: #959394; font-size: 15px; cursor: pointer;}
    span.glyphicon-chevron-right{float: left; background: rgba(255,255,255,0.8); padding: 30px; border-radius: 100%;  text-shadow:none; color: #959394; font-size: 15px; cursor: pointer;}

.pages.mitos .mitos-fakta{float: left; width: 100%; margin-top: 20px}
.pages.mitos .mitos-fakta li{float: left; list-style: none; width: 49%}
.pages.mitos .mitos-fakta li.fakta{float: right ;}
.pages.mitos .mitos-fakta li a{float: left; width: 100%; display: block; background: #e61d2b; color: #fff; padding: 10px 0; text-align: center; font-weight: bold; border: 0; border-radius: 20px; font-size: 13px}
.pages.mitos .mitos-fakta li a.active{background: #ba0a17; color: #fcd201}
.pages.mitos .mitos-fakta li a:hover{background: #ba0a17; color: #fcd201; text-decoration: none;}

	.pages.mitos .pilih-jawaban{display:block; width: 100%; text-align: center; float: left; margin: 10px 0; color: #707072}

.pages.mitos .footer-share{position: absolute;bottom: 0; float: left; width: 100%; padding: 10px 0; overflow: hidden; clear: both; background: #959595;  margin-left: -15px; margin-right: -15px;}
.pages.mitos .footer-share li{float: left; list-style: none; margin: 0 10px;}
.pages.mitos .footer-share li a{float: left; padding: 10px}


	.pages.mitos .comment-mitos {float: left; width: 100%;}
	.pages.mitos .comment-mitos .text{float: left; width: 100%; background: #7ab827; position: relative; z-index: 2; border-radius: 20px; padding: 20px 0;}
	.pages.mitos .comment-mitos .text.wrong{ background: #e61d2b;}
	.pages.mitos .comment-mitos .text .title{float: left; width: 100%; padding: 5px 0; padding-bottom: 15px; margin-bottom: 10px; font-weight: bold; color: #fff; border-bottom: 1px solid #fff;}
	.pages.mitos .comment-mitos .text .text-ins{margin: 0 auto; width: 80%; display: table;}
	.pages.mitos .comment-mitos .text .text-ins span{display: block; width: 100%; color: #fff; font-weight: bold; font-size: 12px; letter-spacing: 1px;}


/*pages alfa*/
.pages.alfa {float: left; width: 100%; overflow: hidden;}
.pages.alfa .content-alfa{float: left; width: 100%;}
	.pages.alfa .content-alfa .thumb{float: left; width: 100%; position: relative;}
	.pages.alfa .content-alfa .thumb img{float: left; width: 100%;}
	.pages.alfa .content-alfa .thumb .button{float: left; width: 100%;}
	.pages.alfa .content-alfa .thumb .button a{position: absolute; background: rgba(255,255,255,0.8); color: #959394; font-size: 15px; padding: 20px 23px; border-radius: 100%; top: 40%}
	.pages.alfa .content-alfa .thumb .button a.left{left: -30px}
	.pages.alfa .content-alfa .thumb .button a.right{right: -30px}

.pages.alfa .content-alfa .title-desc{float: left; width: 100%; margin-top: 30px;}
.pages.alfa .content-alfa .title-desc .desc{color: #707070; letter-spacing: 1px; font-size: 13px;}


/*page checkup*/
.pages.checkup .content{float: left; width: 100%; margin-top: 20px;}
	.pages.checkup .content li.boxes{float: left; width: 50%; height: 180px; list-style: none; border: 1px solid #e1d3ae; padding: 20px 0;}
	.pages.checkup .content li.boxes a{float: left; width: 100%}
	.pages.checkup .content li.boxes a .icon-text{float: left; width: 100%}
	.pages.checkup .content li.boxes a .icon-text span{display: block; text-align: center; font-weight: bold; font-size: 14px; margin-bottom: 10px;}
	.pages.checkup .content li.boxes a .icon-text span.yellow{color: #f4b92d;}
	.pages.checkup .content li.boxes a .icon-text span.green{color: #7bb92a;}
	.pages.checkup .content li.boxes a .icon-text span.purple{color: #5a256d;}
	.pages.checkup .content li.boxes a .icon-text span.pink{color: #eb8da8;}
	.pages.checkup .content li.boxes a .icon-text span.bottom{margin-bottom: 0; margin-top: 10px;}
	.pages.checkup .content li.boxes a .icon-text .icon{margin: 0 auto; display: table;}

.pages.checkup .content .form-group{float: left; width: 100%; margin-bottom: 10px;}
.pages.checkup .content .form-group .icon{float: left; width: 33px; margin-right: 3%;}
.pages.checkup .content .form-group .icon img{float: left; width: 100%}
.pages.checkup .content .form-group .form{float: left; width: 85%}
.pages.checkup .content .form-group .form input{float: left; width: 100%; border-radius: 20px; padding: 5px 13px;}

	.pages.checkup .content .form-group.calendar .form input{float: left; width: 32%; border-radius: 20px; padding: 5px 13px; text-align: center;}
	.pages.checkup .content .form-group.calendar .form input.first{width: 20%}
	.pages.checkup .content .form-group.calendar .form input.midle{width: 41%; margin: 0 2%}
	.pages.checkup .content .form-group.calendar .form input.last{width: 26%;}
	
	.pages.checkup .content .form-bottom{float: left; width: 100%; margin-bottom: 10px;}
	.pages.checkup .content .form-bottom li{float: left; width: 49%; height: auto; padding: 0; border: 0; list-style: none;}
	.pages.checkup .content .form-bottom li:last-child{float: right;}
	
.pages.checkup .content .form-bottom li input[type=radio]{display:none; margin:10px;}
.pages.checkup .content .form-bottom li input[type=radio] + label {font-weight: normal; display:inline-block; margin:-2px; float: left; width: 100%; background-color: #fff; border:1px solid #d7d7d7; border-radius: 20px; padding: 10px 13px; text-align: center; cursor: pointer;}
.pages.checkup .content .form-bottom li input[type=radio]:checked + label {background-image: none; background-color:#e61d2b; color: #fff;}

/*pages foodrecord*/
.pages.foodrecord .desc{float: left; width: 100%; color: #707070; font-size: 13px;}
	.pages.foodrecord .kaloriideal{float: left; width: 100%; margin-top: 5px;}
	.pages.foodrecord .kaloriideal span{float: left; margin-top: 10px;}
	.pages.foodrecord .kaloriideal .total{float: right; background: #e61d2b; padding: 7px 18px; border-radius: 20px; color: #fff; font-size: 13px ; letter-spacing: 1px} 
	.pages.foodrecord .content .button{float: left; width: 100%; margin-top: 10px;}
	.pages.foodrecord .content .button input{float: left; width: 100%; background: #ec8ca8; text-align: center; border: 0; padding: 10px; color: #fff; border-radius: 20px; font-size: 12px; font-weight: bold}

/*pages foodrecord 2*/
.pages.foodrecord .content .form .title-form{width: 100%; display: block; font-size: 12px;}
.pages.foodrecord .content .form .title-total{float: left; width: 100%; color: #e61d2b}
.pages.foodrecord .content .form .title-total .title{float: left; width: 185px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.pages.foodrecord .content .form .title-total .hasil{float: right;}

	.pages.foodrecord .content .total {font-weight: normal; letter-spacing: 1px; font-size: 13px;}
	.pages.foodrecord .content .total .navbar-left{margin-left: 20px;}
	.pages.foodrecord .content .total .navbar-right{float: right; margin-right: 20px;}

.pages.foodrecord .content .notes{float: left; display: block; margin: 20px 0; font-size: 12px; color: #707070}
	.pages.foodrecord .content .button-save{float: left; width: 100%}
	.pages.foodrecord .content .button-save a{float: left; width: 49%; background: #ec8ca8; text-align: center; color: #fff; font-weight: bold; font-size: 12px; padding: 10px 0; border-radius: 20px; letter-spacing: 1px;}
	.pages.foodrecord .content .button-save a:last-child{float: right;}
	
/*PAGES tensirecord*/
.pages.tensirecord select.head{float: left; width: 100%; border-radius: 20px; -webkit-appearance: none; -mozkit-appearance: none; color: #707070}
	
	.pages.tensirecord .grafik{float: left; width: 100%; margin-top: 20px; position: relative;}
	
	.pages.tensirecord .grafik .bg li{float: left; width: 100%; padding: 10px; color: #fff; list-style: none;}
	.pages.tensirecord .grafik .bg li:first-child{padding-top: 40px;}
	.pages.tensirecord .grafik .bg li:last-child{padding-bottom: 40px;}
	.pages.tensirecord .grafik .bg li span{float: left; width: 22%;  font-size: 11px}
	
		.pages.tensirecord .grafik .date{position: absolute; background: #fff; color: #e61d2b; letter-spacing: 1px; padding: 5px 15px; border-radius: 20px;  font-size: 11px; right: 7px; bottom: 7px;}

.pages.tensirecord .day{position: absolute; z-index: 1; right: 8%; width: 74%; height: 100%;}
.pages.tensirecord .day .col-xs-12{height: 100%; white-space: nowrap; overflow: auto;}
.pages.tensirecord .day li{display: inline-block; color: #fff; list-style: none; padding: 0;  font-size: 10px; width: 13.9%; height: 97%; border-right: 1px dotted #fff; position: relative;}
.pages.tensirecord .day li span{float: left; font-size: 10px; float: left; width: auto; background: #e61d2b; padding: 3px; position: absolute; right: -7px;}
	
	.pages.tensirecord .day{position: absolute; z-index: 2; }
	.pages.tensirecord .day .dot{position: absolute; right: -6px; padding: 3px; border-radius: 100%; border: 3px solid #fff}
	

	/*dot day*/
	.pages.tensirecord .dot.high{top: 42px}

	.pages.tensirecord .dot.prehigh{top: 79px}
	.pages.tensirecord .dot.normal{top: 115px}
    .pages.glucosrecord .dot.normal{top: 75px}
	.pages.tensirecord .dot.low{top: 150px}
    .pages.glucosrecord .dot.low{top: 110px}
	.pages.tensirecord .dot.active{background: #fff;}
    .pages.tensirecord .dot.none{ display: none; }


.pages.tensirecord .content{float: left; width: 100%; margin-top: 20px;}
.pages.tensirecord .content .kaloriideal {margin-bottom: 20px;}
.pages.tensirecord .content .kaloriideal span{margin-top: 0;}
.pages.tensirecord .content .button input{background: #59266c}

.pages.foodrecord ul.token-input-list{ width: 100%; border: 1px solid #ccc; padding: 5px; border-radius: 5px;}
.pages.foodrecord ul.token-input-list li.token-input-token{ background: none; }


@media screen and (max-width: 290px) {
    .pages.mitos .head-mitos{width: 100% !important;}
}

@media screen and (max-width: 290px) {
    .pages.diabetes .content-deabetes li .icon-text{width: 100% !important}
}

@media screen and (min-width: 768px){
 .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{width: auto; height: auto;}   
}

@media screen and (min-width: 570px){
  .pages.mitos .carousel-control{bottom: 33%}
}

.at-view-slide-in-top.ng-enter {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: translate(0px, -100%);
    -moz-transform: translate(0px, -100%);
    -ms-transform: translate(0px, -100%);
    -o-transform: translate(0px, -100%);
    transform: translate(0px, -100%);
    opacity: 0;
    z-index: 1;
    position: absolute;
}

.at-view-slide-in-top.ng-enter-active {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    position: absolute;
}

.at-view-slide-out-top.ng-leave {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    z-index: 3;
    position: absolute;
}

.at-view-slide-out-top.ng-leave-active {
    -webkit-transform: translate(0px, -100%);
    -moz-transform: translate(0px, -100%);
    -ms-transform: translate(0px, -100%);
    -o-transform: translate(0px, -100%);
    transform: translate(0px, -100%);
    opacity: 0;
}