<div class="container">
    <div class="pages article-detail">
        <div ng-if="result == 0">
            Sorry the page you were looking for could not be found.
        </div>
        <div class="article-single article-{{ result.id }}" ng-if="result != 0">
            <span class="title">{{ result.title }}</span>
            <span class="time">{{ result.created_at }}</span>
            <img src="{{ asset }}{{ result.image }}" class="image-header"/>
            <div class="content-body" compile="result.body"></div>
        </div>
        <div class="row discussion-wrapper">
            <div ng-repeat="comment in comments" class="discussion-row comment col-xs-12">
                <div class="meta">
                    <span class="name">{{ comment.name }}</span> | <span class="time">{{ comment.created_at }}</span>
                </div>
                <div class="body" ng-bind-html="comment.body">
                </div>
            </div>
        </div>



        <!-- <form class="reply-form" novalidate>
            <div class="form-group">
                <textarea name="" ng-model="form.comment" rows="10" class="col-xs-12 form-control"></textarea>
                <button class="button-red border-radius-20 margin-20" type="button" >Send</button>
            </div>
        </form>

         -->
        <div class="fixed-bottom">
            <div class="form-submit-answer">
                <span class="close"><a href="" close-comment>x</a></span>

                <form novalidate>
                    <input type="text" name="question" ng-model="form.comment"  class="form-control" placeholder="Comment.."/>
                    <button ng-click="submit(form)" class="button-red col-xs-12">Kirim Komentar</button>
                </form>
            </div>
            <button open-comment class="button-red ask-button">Tulis Komentar</button>
        </div>



        <ul class="pager">
            <li ng-if="replies.prev_page_url"><a href="#/discussions/{{ id  }}/{{ page-1 }}">Prev</a></li>
            <li ng-if="replies.next_page_url"><a href="#/discussions/{{ id }}/{{ page+1 }}">Next</a></li>
        </ul>
    </div>
</div>