<div class="container">

    <div class="pages ask">
        
        <div class="col-xs-12 no-padding">
            <div class="title-red margin-bottom-10 no-width">{{ doctor.specialize }}</div>
            <a href="#/chats/{{ doctor.doctor_id }}" class="btn-back">
                <span class="glyphicon glyphicon-menu-left"></span>
            </a>
        </div>

        <div class="ava-jadwal">
            <div class="ava-doctor">
                <div class="ava">
                    <img src="{{ asset }}{{ doctor.picture }}" alt="Doctor Picture" class="doctor-photo"/>
                </div>
                <div class="icon">
                    <img src="assets/images/konsul-doctor.png">
                </div>

                <a href="#/chats/{{ doctor.doctor_id }}" class="jadwal-doctor">
                    LIHAT JADWAL
                </a>
            </div>
            
        </div>

        <div class="name-desc">
            <div class="title-red">
                {{ doctor.name }}
            </div>
            <div class="desc">
                {{ doctor.specialize }}
            </div>
        </div>
        <!--<div class="row" style="margin-left: -30px; margin-right: -30px; clear: both;">-->
            <!--<div ng-controller="askController" class="col-xs-12">-->
                <!--<accordion close-others="oneAtATime">-->
                    <!--<accordion-group heading="{{ ask.question }}" ng-class="ask.answers ? 'answered' : 'not-answered' " ng-repeat="ask in asks">-->
                        <!--{{ ask.question }}-->
                    <!--</accordion-group>-->
                <!--</accordion>-->
            <!--</div>-->
        <!--</div>-->

        <ul class="list-group list-answers">
            <li ng-class="ask.answers ? 'answered' : 'not-answered' " class="list-group-item" ng-repeat="ask in asks">
                <a href="#/ask/show/{{ ask.question_id }}" class="answered" ng-bind-html="ask.question"></a>
            </li>
        </ul>


        <div class="fixed-bottom">
            <div class="form-submit-answer">
                <span class="close"><a href="" ng-click="closeForm()">x</a></span>
                <form novalidate>
                    <!-- <input type="text" placeholder="Tulis pertanyaan/keluhan Anda disini..."/> -->
                    <div class="input-group">
                        <input  name="question" ng-model="form.question" class="form-control" />
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" ng-click="getPicture()" style="border-radius: 0px;"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></button>
                        </span>
                    </div>

                    <button ng-click="submit(form)" class="button-red col-xs-12">Kirim Pertanyaan</button>        
                </form>
            </div>
            <button ng-click="askTrigger()" class="button-red ask-button">Tulis Pertanyaan</button>
            
        </div>


    </div>
</div>