<div class="container">

	<div class="pages ask">

	    <div class="col-xs-12 no-padding">
	        <a href="#/chats/{{ ask.doctor_id }}" class="btn-back">
	            <span class="glyphicon glyphicon-menu-left"></span>
	        </a>
	    </div>

	    <div class="content-pertanyaan">
			<div class="pertanyaan">
		        <div class="title">
		        	Pertanyaan:
		        </div>
		        <div class="content" ng-bind-html="ask.question">
		        </div>
		    </div>

		    <div class="pertanyaan">
		        <div class="title">
		        	Jawaban:
		        </div>
		        <div class="content">
		        	{{ ask.answers }}
		        </div>

		        <div class="content" ng-if="!ask.answers">
		        	Pertanyaan anda belum terjawab.
		        </div>
		    </div>
		</div>
	    <!---->
	    <!--<ul class="list-group list-answers">-->
	        <!--<li class="list-group-item">-->
	            <!--<a href="#/ask/show/" class="answered">Pertanyaan 2 February 2015</a>-->
	        <!--</li>-->

	        <!--<li class="list-group-item">-->
	            <!--<a href="#/ask/show/" class="answered">Pertanyaan 2 February 2015</a>-->
	        <!--</li>-->

	        <!--<li class="list-group-item">-->
	            <!--<a href="#/ask/show/" class="answered">Pertanyaan 2 February 2015</a>-->
	        <!--</li>-->
	    <!--</ul>   -->

	</div>
</div>