<div class="container">

    <div class="pages checkup">
        
        <div class="col-xs-12 no-padding">
            <!--<div class="title-red margin-bottom-10 no-width">-->
                <!--HITUNG KALORI IDEAL-->
            <!--</div>-->
            <a href="#/checkup" class="btn-back">
                <span class="glyphicon glyphicon-menu-left"></span>
            </a>
        </div>
        
        <div class="content">
            <!--<div class="form-group">-->
                <!--<div class="icon">-->
                    <!--<img src="assets/images/signup/ic-gender.png">-->
                <!--</div>-->
                <!--<div class="form">-->
                    <!--<input type="text" name="" placeholder="Gender" class="form-control">-->
                <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <div class="icon">
                    <img src="assets/images/signup/ic-berat.png">
                </div>
                <div class="form">
                    <input type="text" ng-model="form.weight" name="weight" placeholder="Berat Badan" class="form-control"  required>
                </div>
            </div>

            <div class="form-group">
                <div class="icon">
                    <img src="assets/images/signup/ic-tinggi.png">
                </div>
                <div class="form">
                    <input type="text" name="height" ng-model="form.height" placeholder="Tinggi Badan" class="form-control" required>
                </div>
            </div>

        </div>

       

        <div class="content">
            <form novalidate>
                <div class="title-red margin-bottom-10 no-width">
                    AKTIFITAS
                </div>

                <div class="form-bottom">
                    <li>
                        <input type="radio" id="radio1" ng-model="form.activity" name="radios" value="1" checked="">
                        <label for="radio1">Sangat Ringan</label>

                    </li>

                    <li>
                        <input type="radio" id="radio2" ng-model="form.activity" name="radios" value="2">
                        <label for="radio2">Ringan</label>

                    </li>
                </div>

                <div class="form-bottom">
                    <li>
                        <input type="radio" id="radio3" ng-model="form.activity"  name="radios" value="3">
                        <label for="radio3">Sedang</label> 
                    </li>

                    <li>
                        <input type="radio" id="radio4" ng-model="form.activity"  name="radios" value="4">
                        <label for="radio4">Berat</label> 
                    </li>
                </div>

                <div class="navbar-left col-xs-12 no-padding margin-top-20">
                    
                    <button class="button-green border-radius" href="" ng-click="update(form)">
                        SUBMIT
                    </button>
                </div>
            </form>


        </div>
       

    </div>
</div>