<div class="container">

    <div class="pages diabetescal">
        <div class="row">
            <div class="col-xs-12">
                <div class="title-red margin-bottom-10 no-width">
                    DIABETES KALKULATOR
                </div>
                <a href="#/buddy" class="btn-back">
                    <span class="glyphicon glyphicon-menu-left"></span>
                </a>
                <div class="desc-title col-xs-12 no-padding">
                <span>
                    Anda bisa menghitung nilai gula darah rata-rata HbA1c Anda selama 90 hari.
                </span>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 15px;">
            <div class="col-xs-12">
                <span style="color: #ec8ba8; display: block; margin-bottom: 5px;">Masukan kadar nilai HbA1c sesuai hasil glukosa Anda:</span>
                <form novalidate id="diabetes-form">
                    <input type="number" placeholder="Kadar glukosa (HbA1c)" ng-model="form.glukosa" class="form-control border-radius" style="width: 100%; display: block; margin-bottom: 5px; text-align: center; padding: 10px;"/>
                    <button ng-click="submit(form)" class="border-radius" style="width: 100%; color: #FFF; font-weight: bold; background: #ec8ba8;">SUBMIT</button>
                </form>
                <div id="result-diabetes" class="result-db">
                    <span class="title">Nilai rata-rata gula darah Anda</span>
                    <div class="content">
                        <span class="diabetes-result"></span> mg/dL
                    </div>
                </div>
                <a ng-click="reset()" class="btn result-db" style="color: #707070;">Hitung Ulang</a>
            </div>

        </div>

    </div>
</div>