<div class="container">
    <img src="img/login-header.png" alt="Soyjoy" class="header-image"/>
    <h4 style="color: #FFF;">Masukan Email Anda</h4>
    <form novalidate class="login">
        <div class="form-group">
            <div class="col-md-6">
                <input type="email" name="email" class="form-control border-radius" ng-model="form.email" placeholder="Email"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-6 col-md-offset-4">
                <button type="submit" class="btn-soyjoy yellow" ng-click="update(form)">
                    Reset
                </button>
            </div>
        </div>
    </form>

    <a href="#/user/login" style="margin-top: 40px;">Kembali</a>
</div>

