<div class="container" >

    <div class="pages tensirecord glucosrecord checkup foodrecord">

        <div class="col-xs-12 no-padding">
            <div class="title-red margin-bottom-10 no-width">
                GLUCOSE RECORD EDIT
            </div>
            <a href="#/glucoserecord/7" class="btn-back">
                <span class="glyphicon glyphicon-menu-left"></span>
            </a>

        </div>



        <div class="content">
            <div class="margin-bottom-10 no-width bold">
                INPUT DATA
            </div>


            <div class="form-group" ng-repeat="record in records">
                <div class="icon">
                    <img src="assets/images/ic-water.png">
                </div>
                <div class="form">
                    <input type="number"  name="glucose" ng-model="glucose"  attr-id="{{ record.id_glucose }}" class="glucose-value"  placeholder="{{ record.value }}" class="form-control">
                </div>

            </div>
            <div class="button">
                <input type="submit" value="SUBMIT" ng-click="update(glucose)">
            </div>

        </div>

    </div>
</div>