<div class="container">

    <div class="pages mitos">

        <div class="col-xs-12 no-padding">
            <div class="title-red no-width">
                MITOS & FAKTA
            </div>
        </div>
        <carousel interval="myInterval">
            <slide ng-repeat="myth in myths" active="slide.active">

                <div class="head-mitos">
                    <div class="image">
                        <img src="{{ assets }}{{ myth.image }}">
                    </div>
                    <div class="text">
                        <div class="text-ins">
                            <span>
                                {{ myth.text }}
                            </span>
                        </div>
                        <!-- <div class="button">
                            <a href="#" class="left"><span class="glyphicon glyphicon-menu-left"></span></a>
                            <a href="#" class="right"><span class="glyphicon glyphicon-menu-right"></span></a>
                        </div> -->
                    </div>
                </div>

                <div class="mitos-fakta" ng-if="myth.true == 1">
                    <li>
                        <a href="" myth-answer="0" myth-id="{{ myth.id_myth }}">MITOS</a>
                    </li>
                    <li class="fakta">
                        <a href="" myth-answer="1" myth-id="{{ myth.id_myth }}">FAKTA</a>
                    </li>
                </div>
                <div class="mitos-fakta" ng-if="myth.true == 0">
                    <li>
                        <a href="" myth-answer="1" myth-id="{{ myth.id_myth }}">MITOS</a>
                    </li>
                    <li class="fakta">
                        <a href="" myth-answer="0" myth-id="{{ myth.id_myth }}">FAKTA</a>
                    </li>
                </div>
                <!-- nanti si fakta active, DIV yang ini di display ya do -->
                <div class="pilih-jawaban">
                    <span>Pilih jawaban yang menurut Anda benar</span>
                </div>
                <div class="comment-mitos" id="mitos-{{ myth.id_myth }}" style="display: none;">
                    <div class="text">
                        <div class="title">
                            <div class="text-ins">
                                <span class="answer" style="display: inline; font-size: 14px;"></span>,
                            </div>
                        </div>
                        <div class="text-ins">
                            <span>
                                {{ myth.fact }}
                            </span>
                        </div>
                    </div>

                </div>
            </slide>
        </carousel>
    </div>
</div>