<div class="container">

	<div class="pages profile signup" ng-app="fileUpload" ng-controller="profileController">






			<div class="title-red margin-bottom-10">PROFILE</div>


			<div class="ava-profile">
				<div class="image">
					<img src="{{ imagePhoto }}" alt="" >
				</div>
				<div class="icon">

					<img src="assets/images/ic-profile.png" >
					<span><div class="button" ng-click="getPicture()">Edit Foto</div></span>

				</div>
			</div>


			<div class="content-form">
				<form novalidate class="register">

			        <div class="container">

			            <div class="icon-form">
			                <div class="icon">
			                    <img src="assets/images/signup/ic-nama.png">
			                </div>
			                <div class="form">
			                    <input type="text" class="form-control border-radius" name="name" ng-model="form.name" ng-init="form.name='{{ form.name }}'" value="{{ profile.name }}"required="">
			                </div>
			            </div>

			            <div class="icon-form">
			                <div class="icon">
			                    <img src="assets/images/signup/ic-phone.png">
			                </div>
			                <div class="form">
			                    <input type="text" class="form-control border-radius" name="hp" value="" ng-model="form.hp" ng-init="form.hp='{{ form.hp }}'" required="" placeholder="Nomor HP">
			                </div>
			            </div>

			            <div class="icon-form">
			                <div class="icon">
			                    <img src="assets/images/signup/ic-mail.png">
			                </div>
			                <div class="form">
			                    <input type="email" class="form-control border-radius" name="email" value="" ng-model="form.email" required="" ng-init="form.email='{{ form.email }}'">
			                </div>
			            </div>

			            <div class="icon-form">
			                <div class="icon">
			                    <img src="assets/images/signup/ic-gender.png">
			                </div>
			                <div class="form">
			                    <select name="gender" ng-model="form.gender" class="form-control border-radius">
			                    	<option value=''>- Jenis Kelamin -</option>
			                        <option value="Pria">Pria</option>
			                        <option value="Wanita">Wanita</option>
			                    </select>
			                </div>
			            </div>



			            <div class="icon-form">
			                <div class="icon">
			                    <img src="assets/images/signup/ic-usia.png">
			                </div>
			                <div class="form">
			                    <input type="text" class="form-control border-radius" name="age"  ng-model="form.age" ng-init="form.age" placeholder="Umur">
			                </div>
			            </div>

			            <div class="icon-form">
			                <div class="icon">
			                    <img src="assets/images/signup/ic-kota.png">
			                </div>
			                <div class="form">
			                    <input type="text" class="form-control border-radius" name="city" value="" ng-model="form.city" ng-init="form.city='{{ form.city }}'" placeholder="Kota">
			                </div>
			            </div>

			            <div class="icon-form">
			                <button type="submit" class="btn-soyjoy red" ng-click="update(form)">
			                    SIMPAN
			                </button>
			            </div>
                        <div class="icon-form" style="text-align: center;">
                            <a href="#/user/password" style="text-decoration: underline;">
                                Ubah kata sandi
                            </a>
                        </div>
			        </div>
			    </form>
			</div>
	</div>
</div>