<div class="container">

    <div class="pages signup">

        <img src="img/register-header.png" class="header-image"/>

        <h3>DAFTAR</h3>


        <form novalidate class="register">
            
            <div class="container">
                
                <div class="icon-form">
                    <div class="icon">
                        <img src="assets/images/signup/ic-nama.png">
                    </div>
                    <div class="form">
                        <input type="text" class="form-control border-radius" name="name" value="" ng-model="form.name" placeholder="Nama*" required="">
                    </div>
                </div>

                <!-- <div class="icon-form">
                    <div class="icon">
                        <img src="assets/images/signup/ic-phone.png">
                    </div>
                    <div class="form">
                        <input type="text" class="form-control border-radius" name="hp" value="" ng-model="form.hp" placeholder="No.Hp*" required="">
                    </div>
                </div> -->

                <div class="icon-form">
                    <div class="icon">
                        <img src="assets/images/signup/ic-mail.png">
                    </div>
                    <div class="form">
                        <input type="email" class="form-control border-radius" name="email" value="" ng-model="form.email" placeholder="Email*" required="" overwrite-email>
                    </div>
                </div>

                <!-- <div class="icon-form">
                    <div class="icon">
                        <img src="assets/images/signup/ic-gender.png">
                    </div>
                    <div class="form">
                        <select aria-label="ngSelected" name="gender" ng-model="form.gender" class="form-control border-radius">
                            <option value="">- Jenis Kelamin -</option>
                            <option value="Pria" ng-selected="selected">Pria</option>
                            <option value="Wanita">Wanita</option>
                        </select>
                    </div>
                </div>



                <div class="icon-form">
                    <div class="icon">
                        <img src="assets/images/signup/ic-usia.png">
                    </div>
                    <div class="form">
                        <input type="number" class="form-control border-radius" name="age" value="" ng-model="form.age" placeholder="Usia" min="1" max="110" integer>
                    </div>
                </div>


                <div class="icon-form">
                    <div class="icon">
                        <img src="assets/images/signup/ic-kota.png">
                    </div>
                    <div class="form">
                        <input type="text" class="form-control border-radius" name="city" value="" ng-model="form.city" placeholder="Kota">
                    </div>
                </div> -->

                <div class="icon-form">
                    <div class="icon">
                        <img src="assets/images/signup/ic-password.png">
                    </div>
                    <div class="form">
                        <input type="text" class="form-control border-radius" name="password" ng-model="form.password" placeholder="Password*" required>
                    </div>
                </div>

                <div class="icon-form">
                    <div class="icon">
                        <img src="assets/images/signup/ic-password.png">
                    </div>
                    <div class="form">
                        <input type="text" class="form-control border-radius" name="password_confirmation" ng-model="form.password_confirmation" placeholder="Confirmation Password*" required>
                    </div>
                </div>

                <div class="icon-form">
                    <div class="form">
                        <input type="radio" name="term" value="term" class="term">
                        <span><i>I agree with <u><a href="">Terms & Condition</a></u></i></span>
                    </div>
                </div>
                <div class="icon-form">
                    <ul class="register-error"></ul>
                </div>
                
                <div class="icon-form">
                    <button type="submit" class="btn-soyjoy red" ng-click="update(form)">
                        Register
                    </button>
                </div>




                




            </div>


        </form>

    </div>
</div>