/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
body {
  background: #fef6df;
  color: #707070; }
  body.home {
    background: url("../img/home.jpg") no-repeat center center fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover; }
    body.home .container.app {
      padding: 0;
      margin: 0; }
      body.home .container.app #opening-slider {
        position: relative; }
        body.home .container.app #opening-slider .slider img {
          width: 100%; }
        body.home .container.app #opening-slider .btn-soyjoy {
          width: 80%;
          position: absolute;
          bottom: 2%;
          left: 10%; }
  body.landing {
    overflow: hidden; }
    body.landing .container {
      padding: 0px;
      margin: 0px; }
  body.login-page {
    background: #e61d2b;
    color: #FFFF;
    text-align: center; }
    body.login-page .header-image {
      margin-top: 10%;
      margin-bottom: 7%; }
    body.login-page h2, body.login-page h3 {
      color: #FFF; }
    body.login-page a {
      display: inline-block;
      color: #FFF;
      border: 1px solid #FFF;
      font-size: 16px;
      padding: 7px 20px;
      -moz-border-radius: 40px;
      -webkit-border-radius: 40px;
      border-radius: 40px; }
  body.register-page {
    text-align: center; }
    body.register-page .header-image {
      margin: 5% 0; }
    body.register-page .register input.ng-invalid.ng-touched {
      background-color: #e61d2b;
      color: #FFF; }
    body.register-page .register input.ng-valid.ng-touched {
      background-color: #FFF; }
    body.register-page .border-radius, body.register-page .btn-soyjoy, body.register-page body.ask-page .lihat-jadwal, body.ask-page body.register-page .lihat-jadwal {
      border: 1px solid #d7d7d7; }

.btn-soyjoy {
  width: 100%;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  border: none;
  font-size: 16px;
  padding: 10px;
  border: none !important; }
  .btn-soyjoy.yellow {
    background: #ebb010; }
  .btn-soyjoy.red {
    background: #e61d2b; }

.navbar-header {
  background: url("../img/logo-nav.png") no-repeat 15px center; }

.navbar-inverse {
  background: #e61e2b;
  border: none; }
  .navbar-inverse .navbar-toggle {
    border-color: #FFF;
    -moz-border-radius: 999px;
    -webkit-border-radius: 999px;
    border-radius: 999px; }
    .navbar-inverse .navbar-toggle .icon-bar {
      width: 14px; }
    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
      background: none; }
  .navbar-inverse .navbar-nav {
    margin: 0px -15px; }
    .navbar-inverse .navbar-nav li {
      border-bottom: 1px solid #e0d3ae;
      background: #fef6df; }
      .navbar-inverse .navbar-nav li a {
        color: #707070;
        text-transform: uppercase;
        font-weight: bold; }
        .navbar-inverse .navbar-nav li a:hover, .navbar-inverse .navbar-nav li a:focus {
          color: #707070; }

#sliders-home .caption {
  font-family: 'Futura Md BT';
  line-height: 1.2em;
  background: #e61d2b;
  position: fixed;
  bottom: 0;
  color: #FFF;
  height: 100px;
  width: 100%;
  padding: 20px;
  padding-bottom: 100px;
  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase; }
  #sliders-home .caption .btn-soyjoy {
    width: 60%;
    font-size: 12px;
    padding: 5px;
    display: table;
    margin: 0 auto;
    height: auto;
    margin-top: 20px; }
#sliders-home .slider-image {
  width: 100%; }
#sliders-home .carousel-control {
  display: none; }
#sliders-home .carousel-indicators {
  position: fixed;
  margin: 0;
  width: 100%;
  left: 0;
  bottom: 104px; }
  #sliders-home .carousel-indicators li {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background: #FFF;
    border: 2px solid #e61d2b;
    -moz-border-radius: 999px;
    -webkit-border-radius: 999px;
    border-radius: 999px; }
    #sliders-home .carousel-indicators li.active {
      background: #e61d2b; }

#home-page .slider-image {
  width: 100%; }
#home-page .carousel-indicators {
  display: none; }
#home-page .carousel-control {
  display: none; }

.article-row {
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 5px 10px;
  border-top: 1px dashed #beb28a; }
  .article-row .time {
    margin-bottom: 3px;
    display: block; }
  .article-row .article-title {
    color: #ecb011;
    display: block;
    font-weight: bold; }
  .article-row .col-xs-4 {
    padding: 0; }
  .article-row .image {
    width: 100%; }

.article-single {
  padding-top: 10px; }
  .article-single .content-body {
    margin-bottom: 10px; }
  .article-single .title {
    display: block;
    font-size: 14px;
    color: #edaf10; }
  .article-single .time {
    display: block;
    margin-bottom: 15px; }
  .article-single .image-header {
    width: 100%;
    margin-bottom: 15px; }

.discussion-wrapper {
  padding-bottom: 40px; }
  .discussion-wrapper .meta {
    margin-bottom: 10px; }
    .discussion-wrapper .meta .name {
      color: #7cb824; }
  .discussion-wrapper .title {
    color: #f48ca6;
    font-weight: bold; }
  .discussion-wrapper .discussion-row {
    padding-top: 10px;
    padding-bottom: 10px; }
    .discussion-wrapper .discussion-row.reply {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 5px; }
      .discussion-wrapper .discussion-row.reply .meta {
        margin-bottom: 0px; }
    .discussion-wrapper .discussion-row.comment {
      padding-top: 0px;
      padding-bottom: 0px;
      margin-bottom: 5px; }
      .discussion-wrapper .discussion-row.comment .meta {
        margin-bottom: 5px; }
        .discussion-wrapper .discussion-row.comment .meta .name {
          color: #e9b52b; }
    .discussion-wrapper .discussion-row.star {
      background: #f48ca7;
      color: #FFF;
      padding-top: 15px;
      padding-bottom: 15px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px; }
      .discussion-wrapper .discussion-row.star .name {
        color: #FFF; }
  .discussion-wrapper .action {
    display: block;
    margin-top: 15px;
    padding-bottom: 5px;
    position: relative;
    border-bottom: 1px dashed #beb18b; }
    .discussion-wrapper .action .button {
      padding: 2px 10px;
      display: inline-block;
      border: 1px solid #959595;
      font-size: 12px;
      -moz-border-radius: 20px;
      -webkit-border-radius: 20px;
      border-radius: 20px;
      margin-right: 5px; }
      .discussion-wrapper .action .button a {
        color: #707070; }

.list-answers {
  clear: both;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 90px; }
  .list-answers li {
    border: none;
    border-top: 1px solid #FFF;
    background-color: #959595; }
    .list-answers li:first-child, .list-answers li:last-child {
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      border-radius: 0px; }
    .list-answers li.answered {
      background-color: #e61e2b; }
    .list-answers li a {
      color: #FFF; }
    .list-answers li img {
      width: 10%;
      display: inline-block; }

.fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 15px;
  background: #ebebeb; }
  .fixed-bottom .button-red {
    width: 100%;
    display: table;
    margin: 0 auto;
    background: #e61e2b;
    border: none;
    color: #FFF;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px; }
  .fixed-bottom .form-submit-answer {
    text-align: center; }
    .fixed-bottom .form-submit-answer .button-red {
      margin-top: 5px;
      width: 70%; }
    .fixed-bottom .form-submit-answer .close {
      position: absolute;
      top: 5px;
      right: 5px;
      font-size: 12px;
      line-height: 1em; }
      .fixed-bottom .form-submit-answer .close a {
        color: #333; }

.form-submit-answer {
  display: none; }

body.ask-page .head-row {
  margin-bottom: 25px; }
body.ask-page .head-image {
  text-align: center;
  margin-bottom: 15px; }
body.ask-page .doctor-description {
  margin-bottom: 15px; }
  body.ask-page .doctor-description .doctor-name {
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 18px;
    color: #e61e2b; }
  body.ask-page .doctor-description .doctor-specialize {
    margin-top: 5px;
    font-size: 14px;
    color: #e61e2b; }
body.ask-page .lihat-jadwal {
  margin-top: 30px;
  background: #ebb010;
  color: #FFF;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 15px;
  font-size: 12px;
  display: inline-block; }
body.ask-page .specialize {
  color: #e91b2f;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  width: 70%;
  float: left; }
body.ask-page .doctor-photo {
  max-width: 100%; }
body.ask-page .back {
  margin-left: 8px;
  float: right;
  color: #9b9295;
  border: 1px solid #9b9295;
  -moz-border-radius: 999px;
  -webkit-border-radius: 999px;
  border-radius: 999px;
  font-size: 14px;
  width: 23px;
  height: 23px;
  text-align: center; }

#chat-wrap {
  padding-bottom: 40px; }
  #chat-wrap li {
    list-style: none;
    color: #FFF;
    font-size: 11px;
    margin-bottom: 10px; }
    #chat-wrap li .chat-file {
      width: 30%; }
    #chat-wrap li.user img.avatar {
      -moz-border-radius: 100%;
      -webkit-border-radius: 100%;
      border-radius: 100%; }
    #chat-wrap li.user .msg {
      background: #7ab827;
      padding: 7px;
      letter-spacing: 1px;
      display: inline-block;
      -moz-border-radius: 15px;
      -webkit-border-radius: 15px;
      border-radius: 15px; }

#menu-wheel {
  position: fixed;
  bottom: 0;
  width: 300px;
  height: 300px;
  left: 50%;
  margin-left: -150px;
  background: url("../img/circle-nav.png") no-repeat; }
  #menu-wheel .menu {
    position: absolute;
    left: 50%;
    height: 150px;
    padding-bottom: 85px; }

.pages.alfa .carousel-indicators {
  display: none; }
.pages.alfa .carousel-control {
  background-image: none; }
.pages.alfa .content-product {
  text-align: left; }

.pager a {
  color: #333; }

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.border-radius, .btn-soyjoy, body.ask-page .lihat-jadwal {
  border: none;
  height: 40px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px; }

.circle-menu {
  width: 40px;
  height: 50px;
  margin: 0 auto;
  display: table;
  position: relative; }
  .circle-menu .inner-circle {
    display: none;
    position: absolute;
    width: 250px;
    height: 250px;
    background: url("../img/circle-bg-nav.png") no-repeat;
    top: -70px;
    left: -102px; }
  .circle-menu .tap-start {
    position: absolute;
    top: -29px;
    text-align: center;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    width: 100px;
    left: -26px;
    font-size: 17px; }
  .circle-menu .circleMenu-open .menu-caption {
    position: absolute;
    width: 75px;
    color: #e22a26;
    font-size: 9px;
    width: 50px;
    line-height: 1.2em; }
    .circle-menu .circleMenu-open .menu-caption.left-caption {
      left: -55px;
      top: 0px; }
    .circle-menu .circleMenu-open .menu-caption.right-caption {
      right: -55px;
      top: 0px; }
  .circle-menu .circleMenu-closed .menu-caption {
    display: none; }

.result-db {
  display: none; }

#result-diabetes {
  background: #ec8ba8;
  padding: 10px 0;
  color: #FFF;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px; }
  #result-diabetes .title {
    display: block;
    padding-bottom: 5px;
    font-size: 12px;
    text-align: center;
    border-bottom: 1px solid #FFF; }
  #result-diabetes .content {
    padding: 20px;
    text-align: center;
    font-size: 12px; }
    #result-diabetes .content .diabetes-result {
      font-weight: bold;
      font-size: 20px; }

.loading {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  z-index: 99; }
  .loading .wrap {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center; }

.register-error {
  text-align: left;
  font-size: 11px;
  color: red; }
